<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.kugou.mapper.MusicMapper">
    <sql id="allkeys">
        KuGo_music.id as id,
        KuGo_music.author_id as author_id,
        KuGo_music.author_name as author_name,
        KuGo_music.audio_id as audio_id,
        KuGo_music.audio_name as audio_name,
        KuGo_music.song_name as song_name,
        KuGo_music.hash_code as hash_code,
        KuGo_music.filesize as filesize,
        KuGo_music.timelength as timelength,
        KuGo_music.have_album as have_album,
        KuGo_music.album_id as album_id,
        KuGo_music.album_name as album_name,
        KuGo_music.have_mv as have_mv,
        KuGo_music.video_id as video_id,
        KuGo_music.privilege as privilege,
        KuGo_music.privilege2 as privilege2,
        KuGo_music.play_url as play_url,
        KuGo_music.img as img,
        KuGo_music.lyrics as lyrics,
        KuGo_music.listener_count as listener_count
    </sql>
    <select id="selectNewMusicByClassName" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"/>
        from KuGo_music
        where author_id in (
	        select singerid
	        from KuGo_singer
	        where class_name like concat(#{className},'%')
        )
        ORDER BY audio_id DESC
        limit 0,#{n}
    </select>
    <select id="selectMusicById" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"></include>
        from  KuGo_music
        where KuGo_music.id = #{id}
    </select>

    <select id="selectRecommendMusicByClassName" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"/>
        from  KuGo_music
        where author_id in (
        select singerid
        from KuGo_singer
        where class_name like concat(#{className},'%')
        )
        ORDER BY listener_count DESC
        limit 0,#{n}
    </select>
    <update id="updateHasMv">
        update KuGo_music set have_mv=#{isHasMv},video_id=#{mvId},class_name=#{className} where id=#{id}
    </update>
</mapper>