<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.kugou.mapper.MusicMapper">
    <sql id="allkeys">
        kugou_music.music_id as music_id,
        kugou_music.music_author_id as music_author_id,
        kugou_music.music_author_name as music_author_name,
        kugou_music.music_audio_id as music_audio_id,
        kugou_music.music_audio_name as music_audio_name,

        kugou_music.music_song_name as music_song_name,
        kugou_music.music_hash_code as music_hash_code,
        kugou_music.music_filesize as music_filesize,
        kugou_music.music_timelength as music_timelength,
        kugou_music.music_have_album as music_have_album,

        kugou_music.music_album_id as music_album_id,
        kugou_music.music_album_name as music_album_name,
        kugou_music.music_have_mv as music_have_mv,
        kugou_music.music_video_id as music_video_id,
        kugou_music.music_privilege as music_privilege,

        kugou_music.music_privilege2 as music_privilege2,
        kugou_music.music_play_url as music_play_url,
        kugou_music.music_img as music_img,
        kugou_music.music_lyrics as music_lyrics,
        kugou_music.music_listener_count as music_listener_count,

        kugou_music.music_class_name as music_class_name
    </sql>
    <select id="selectNewMusicByClassName" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"/>
        from kugou_music
        where kugou_music.music_class_name like concat(#{className} ,'%')
        ORDER BY music_audio_id DESC
        limit 0,#{n}
    </select>
    <select id="selectMusicById" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"></include>
        from  kugou_music
        where kugou_music.music_id = #{id}
    </select>

    <select id="selectRecommendMusicByClassName" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"/>
        from  kugou_music
        where music_author_id in (
        select music_singerid
        from kugou_singer
        where music_class_name like concat(#{className},'%')
        )
        ORDER BY listener_count DESC
        limit 0,#{n}
    </select>
    <update id="updateHasMv">
        update kugou_music set music_have_mv=#{isHasMv},music_video_id=#{mvId},music_class_name=#{className} where music_id=#{id}
    </update>
    <select id="selectCopy" resultType="com.hc.kugou.bean.Music">
        select <include refid="allkeys"/>
        from kugou_music
        limit #{start},#{end}
    </select>

    <update id="updateBatchFlag">
        update kugou_music set flag = 1
        where music_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.musicId}
        </foreach>
    </update>
</mapper>