<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.kugou.mapper.MvMapper">
    <sql id="allKeys">
        mv_id,
        mv_name,
        mv_hc_url,
        mv_hd_url,
        mv_bd_url,
        mv_head_image,
        mv_update_time,
        mv_class_name,
        mv_listener_count,
        mv_hash_code
    </sql>
    <sql id="allValues">
        #{mv.mvId},#{mv.mvName},#{mv.mvHcUrl},#{mv.mvHdUrl},#{mv.mvBdUrl},#{mv.mvHeadImage},#{mv.mvUpdateTime},#{mv.mvClassName},#{mv.mvListenerCount},#{mv.mvHashCode}
    </sql>
    <select id="findMvByName" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from kugou_mv
        where kugou_mv.mv_name like concat(#{mvName},'%')
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="mvId">
        insert into kugou_mv(<include refid="allKeys"/>)
        values (<include refid="allValues"/>),(<include refid="allValues"/>)
    </insert>
    <update id="updateTime">
        update kugou_mv set mv_update_time=#{updateTime} where mv_id=#{id}
    </update>
    <select id="selectPopMvByClassName" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from kugou_mv
        where kugou_mv.mv_class_name like concat(#{className} ,'%')
        order by kugou_mv.mv_listener_count
        limit 0,#{n}
    </select>
    <select id="selectById" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from kugou_mv
        where kugou_mv.mv_id = #{id}
    </select>
    <select id="selectCopy" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from  kugou_mv
        limit #{start},#{end}
    </select>
    <insert id="insertList">
        insert into kugou_mv(<include refid="allKeys"/>)
        values
        <foreach collection="list" item="mv" separator =",">
            (#{mv.mvId},#{mv.mvName},#{mv.mvHcUrl},#{mv.mvHdUrl},#{mv.mvBdUrl},#{mv.mvHeadImage},#{mv.mvUpdateTime},#{mv.mvClassName},#{mv.mvListenerCount},#{mv.mvHashCode})
        </foreach>
    </insert>
</mapper>