<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.kugou.mapper.MvMapper">
    <sql id="allKeys">
        kugou_mv.mv_id as mv_id,
        kugou_mv.mv_name as mv_name,
        kugou_mv.mv_hash as mv_hash,
        kugou_mv.mv_hc_url as mv_hc_url,
        kugou_mv.mv_hd_url as mv_hd_url,
        kugou_mv.mv_bd_url as mv_bd_url,
        kugou_mv.mv_head_image as mv_head_image,
        kugou_mv.mv_update_time as mv_update_time,
        kugou_mv.mv_class_name as mv_class_name,
        kugou_mv.mv_listener_count as mv_listener_count
    </sql>
    <sql id="allValues">
        #{mv.mvId},#{mv.mvHash},#{mv.mvName},#{mv.hcUrl},#{mv.mvHdUrl},#{mv.mvBdUrl},#{mv.mvHeadImage},#{mv.mvUpdateTime},#{mv.mvClassName},#{mv.mvListenerCount}
    </sql>
    <select id="findMvByName" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from kugou_mv
        where kugou_mv.mv_name like concat(#{mvName},'%')
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into kugou_mv
        values (<include refid="allValues"/>)
    </insert>
    <update id="updateTime">
        update kugou_mv set mv_update_time=#{updateTime} where mv_id=#{id}
    </update>
    <select id="selectPopMvByClassName" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from kugou_mv
        where kugou_mv.mv_class_name like concat(#{className} ,'%')
        order by kugou_mv.mv_listener_count
        limit 0,#{n}
    </select>
    <select id="selectById" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from kugou_mv
        where kugou_mv.mv_id = #{id}
    </select>
    <select id="selectCopy" resultType="com.hc.kugou.bean.Mv">
        select <include refid="allKeys"/>
        from  kugou_mv
        limit #{start},#{end}
    </select>
</mapper>