<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.kugou.mapper.UserMapper">

    <sql id="allKeys">
        user_id,user_username,user_account,user_password,user_tel,user_email,user_qq,user_wechat,user_sex,user_birthday
        ,user_addr,user_signature,user_imgpath,user_is_vip,user_status,user_hash_code
    </sql>

    <sql id="allValues">
        #{userId},#{userUsername},#{userAccount},#{userPassword},#{userTel},#{userEmail},#{userQq},#{userWechat},#{userSex}
   ,#{userBirthday},#{userAddr},#{userSignature},#{userImgpath},#{userIsVip},#{userStatus},#{userHashCode}
    </sql>


    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into kugou_user(<include refid="allKeys"></include>) values (<include refid="allValues"></include>)
    </insert>

    <select id="selectById" resultType="com.hc.kugou.bean.custombean.CustomUser">
        select <include refid="allKeys"></include> from kugou_user where user_id = #{userId}
    </select>


</mapper>