<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>头部</title>
</head>
<body>
    <div th:fragment="headbar">
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
        <link href="" rel="stylesheet" th:href="@{/css/headbar.css}"/>
        <div id="head">
            <h1 class="logo">
                <a href="#"><img src="../public/img/index/logo.png" th:src="@{/img/index/logo.png}"/></a>
            </h1>
            <div class="search">
                <div class="search_input">
                    <input type="text"/>
                    <div class="search_btn" onClick="window.open('')">
                        <i class="search_icon" onClick="window.open('')"></i>
                    </div>
                </div>
            </div>
            <div class="head_right">
                <ul>
                    <li><a href="serve.html" target="_blank">客服中心</a></li>
                    <li><a href="recruit_sages.html" target="_blank">招纳贤士</a></li>
                    <li><a href="vip.html" target="_blank">会员中心</a></li>
                </ul>
                <div class="loading">
                    <a href="javascript:void(0);" style="color:white;"><div class="login">登录</div></a>
                    <a href="register.html"><div class="regin">注册</div></a>
                </div>
            </div>
        </div>

        <!--首页榜单-->
        <div id="navWrap">
            <div class="nav">
                <ul class="homeNav">
                    <li style="width: 92px;height: 55px;background-color: #0c8ed9;">
                        <a class="normal active" th:href="@{index.html}" th:class="${activeUri=='index'?'normal active':'normal'}" href="#" style="color: white;">首页</a>
                    </li>
                    <li style="width: 92px;height: 55px;"><a class="normal" href="list.html" th:href="@{list.html}" th:class="${activeUri=='list'?'normal active':'normal'}" >榜单</a></li>
                    <li  style="width: 140px;height: 55px;"><a class="normal" id="productCenter" href="download.html" th:href="@{download.html}"  th:class="${activeUri=='download'?'normal active':'normal'}" >下载客户端</a></li>
                    <li class="more" style="width: 113px;height: 55px;"><a href="javascript:void(0);"  id="showMore">更多</a></li>
                </ul>
                <ul class="secondMenu" id="secondMenu" style="display: none;">
                    <li><a href="radio.html">电台</a></li>
                    <li><a href="mv.html">MV</a></li>
                    <li><a href="songsheet.html">歌单</a></li>
                    <li><a href="singer.html">歌手</a></li>
                </ul>
                <ul class="subNav">
                    <li><a target="_blank" href="LiveMusic.html" class="icon-nav1">音乐直播</a></li>
                    <li><a target="_blank" href="live.html" class="icon-nav2">酷狗LIVE</a></li>
                    <li><a target="_blank" href="musicMan.html" class="icon-nav3">音乐人</a></li>
                    <li><a target="_blank" href="anchor.html" class="icon-nav4">游戏</a></li>
                    <li><a target="_blank" href="mall.html" class="icon-nav5">商城</a></li>
                </ul>
            </div>
        </div>


        <div id="cover"></div>
        <div id="load">
            <div class="load_content">
                <a class="load_close" id="closebtn"><i></i></a>
                <div style="margin-bottom: 10px;"><h4>登录酷狗音乐</h4></div>
                <div class="zhanghao">
                    <form class="login_form">
                        <div class="kg_popup_txt_area">
                            <div class="kg_popup_txt_box kg_popup_txt_box_username">
                                <label class="kg_popup_txt_tl" for="KgPopupUserName">帐号：</label><input id="KgPopupUserName" name="UserName" type="text" class="kg_popup_txt_ipt" placeholder="用户名/手机/邮箱">
                            </div>
                        </div>
                        <div class="kg_popup_txt_area">
                            <div class="kg_popup_txt_box kg_popup_txt_box_password">
                                <label class="kg_popup_txt_tl" for="KgPopupUserPwd">密码：</label><input id="KgPopupUserPwd" name="UserPwd" type="password" placeholder="请输入密码" class="kg_popup_txt_ipt">
                                <a href="" class="kg_popup_forget_pwd" target="_blank">忘记密码</a></div>
                        </div>
                        <div class="kg_popup_tool_area kg_popup_bottom10">
                            <div class="kg_popup_tool_lt">
                                <input class="kg_popup_checkbox" type="checkbox" name="autoLogin" id="autoLogin" checked="">
                                <label for="autoLogin">下次自动登录</label></div>
                            <div class="kg_popup_tool_rt">
                                <a href="http://www.kugou.com/reg/web/" class="kg_popup_now_reg" target="_blank">立即注册</a>
                            </div>
                        </div>
                        <div class="kg_popup_txt_area">
                            <div class="kg_popup_login_box" id="kg_popup_login_btn_box">
                                <p class="empty_box" id="empty_box"></p>
                                <input type="button" class="kg_popup_login_btn" id="KgPopupLoginBtn" value="登录">
                            </div>
                        </div>
                        <div class="kg_popup_tool_area position_absole">
                            <div class="kg_popup_tool_lt">
                                <div class="kg_popup_thirdpart">其他方式登录：
                                    <a href="javascript:connectLogin('Qzone')" class="kg_popup_thirdpart_icon kg_popup_thirdpart_qq" title="使用QQ号登录"></a>
                                    <a href="javascript:connectLogin('WeiXin');" class="kg_popup_thirdpart_icon kg_popup_thirdpart_weixin" title="使用微信扫描二维码登录"></a>
                                </div>
                            </div>
                        </div>
                        <div class="kg_popup_tool_area kg_popup_user_info">
                            <a class="userProtocol" href="">用户协议</a>
                            <a class="userPrivacy" href="">隐私政策</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/headbar.js}"></script>
    </div>
</body>
</html>