<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置javabean与数据库中的字段对应  下划线命名法和驼峰命名法的对应 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>