/*弹窗样式*/
.simpleAlert{position: fixed;z-index: 9999;}
.simpleAlertShelter{position: fixed;width: 100%;height: 100%;top:0;left:0;background-color: #000;opacity: 0.3;filter:alpha(opacity=30);}
.simpleAlertBody{border-radius: 5px;position:fixed;display: none;width: 476px;height: 216px;top:50%;left:50%;margin:-188px 0 0 -238px;opacity:0;border: 1px solid #948497;background-color: #fff;}
.simpleAlertBodyClose{position: absolute;width: 14px;height: 14px;top:10px;right: 10px;padding: 5px;cursor: pointer;}
.simpleAlertBodyContent{position: absolute;top:30%;width:96%;height:48px;overflow-y:auto;left: 2%;text-align: center;font-size: 18px;font-weight: 600;color: #333;}
.simpleAlertBtn{position:absolute;width: 70px;height: 34px;top:60%;border: 1px solid #bfbfbf;cursor:pointer;border-radius: 5px;color: #fff;font-size: 16px;}
.simpleAlertBtn1{background-color: #8080ff;left: 25%;}
.simpleAlertBtn2{background-color: #f7f7f7;color: #333;right: 25%;}
.onlyOne{width: 200px;height: 36px;left: 138px;}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
#head{
    width: 1000px;
    height: 78px;
    margin: 0 auto;
    position: relative;

}
#head .logo{
    width: 153px;
    height: 37px;
    float: left;
    margin-top: 20px;
}
#head .search{
    width: 300px;
    height: 36px;
    margin-left: 193px;
    padding-top: 20px;

}
#head .search_input{
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    line-height: 34px;
    position: relative;
    z-index: 100;
}

.search_input input{
    width: 249px;
    height: 24px;
    line-height: 24px;
    margin-left: 14px;
    padding: 5px 0;
    color: #666;
    border: none;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    outline: none; /*边框按下去没有颜色*/

}
#head .search_btn{
    width: 34px;
    height: 34px;
    float: right;
    cursor: pointer;
}

#head .search_icon{
    background: url(../img/radio/search.png);
    background-position: -40px -56px;
    display: block;
    margin: 9px 0 0 9px;
    width: 16px;
    height: 16px;
    cursor: pointer;

}
/*  有问题为什么只在head下面才有效果*/
#head .search_icon:hover{
    background: url(../img/radio/search.png);
    background-position: -40px -86px;

}
#head .head_right{
    width: 402px;
    float: right;
    height: 25px;
    margin-top: -25px;

}
.head_right ul{
    width: 240px;
    border-right: 1px solid #e6e6e6;
    padding-right: 11px;
    text-align: right;
    float: left;

}
.head_right ul li{
    list-style: none;
    float: left;
    padding-left: 20px;
}
.head_right ul li a{
    text-decoration: none;
    color: #777;
    font-size: 13px;
}
.head_right ul li a:hover{
    color: #169af3;
}
#head .loading{
    width: 110px;
    height: 30px;
    position: absolute;
    right: 0;
    top:25px;
}
.loading .login {
    width: 48px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #169af3;
    border-radius: 2px;
    text-align: center;
    background-color: #169af3;
    float: left;

}

.loading .regin{
    width: 48px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    text-align: center;
    color: black;
    text-decoration: none;
    float:right;
}
.loading .login:hover{
    background-color: #158fe1;
}
.loading .regin:hover{
    border: 1px solid #169af3;

}
.loading .regin a{
    color:black;
}
.loading .regin:hover{
    color: #169af3;
}
.loading a{
    text-decoration: none;
    font-size: 13px;
}

/*首页榜单*/
#navWrap{
    width: 100%;
    height: 55px;
    background:#2c323b;
    position: relative;
}
#navWrap .nav{
    width: 1000px;
    margin: 0 auto;


}
#navWrap li{
    float: left;
    list-style: none;
}
#navWrap a{
    text-decoration: none;
}
.nav .homeNav{
    width: 437px;
    height: 55px;
    float: left;
    position: relative;
}
.homeNav .normal active{
    background-color: #0c8ed9;
    color: #fff;
}
.homeNav a{
    font-size: 16px;
    color: #ddd;
    display:block;

}
.homeNav  li:hover a{
    color: white;
}
.homeNav li{
    text-align: center;
    line-height: 55px;
    display:inline-block;
}
.homeNav li:hover{

    background-color: #0c8ed9;
}


.homeNav .more a{
    background:url(../img/radio/arrowMored.png) no-repeat;
    margin-left: 5px;
    padding: 0 30px;
    margin-right: 5px;
    background-position: 72px 8px;
    display: inline;
}
.homeNav .more:hover a{
    background:url(../img/radio/arrowMoreu.png)no-repeat;
    background-position: 70px 8px;
    background-color: #0c8ed9;

}
.secondMenu{
    position: absolute;
    left: 500px;
    top: 55px;
    display: none;
    width: 113px;
    height: 146px;
    background-color: #252a32;
    z-index: 9999;

}
.secondMenu li{
    display:block;
    padding: 0;
    height: 36px;
    line-height: 36px;
    float: none;
    margin: 0;
    width: 113px;
    text-align: center;
    cursor: pointer;
}
.secondMenu li:hover{
    background-color: #2d343d;
    border-top: 1px solid #383d44;

}
.secondMenu a{
    text-align: center;
    font-size: 15px;
    color: #bbb;
    background: 0 0;
    background-color: #252b34;
    display: block;
}
.secondMenu li:hover a{
    color: #fff;
    background-color: #2d343d;
}

.subNav {
    width: 445.44px;
    float:right;
    margin-top: 16px;
    height: 35px;

}
.subNav li{
    margin-left: 30px;
    list-style: none;
}
.subNav a.icon-nav1{
    background-position: 0 -119px;
}
.subNav a.icon-nav1:hover{
    background-position: 0 -101px;
}
.subNav a.icon-nav2{
    background-position:0 -155px;
}
.subNav a.icon-nav2:hover{
    background-position:0 -137px;
}
.subNav a.icon-nav3{
    background-position:0 -191px;
}
.subNav a.icon-nav3:hover{
    background-position:0 -173px;
}
.subNav a.icon-nav4{
    background-position:0 -226px;
}
.subNav a.icon-nav4:hover{
    background-position:0 -208px;
}
.subNav a.icon-nav5{
    background-position:0 -281px;
}
.subNav a.icon-nav5:hover{
    background-position:0 -245px;
}
.subNav a{
    background: url(../img/radio/sprite.png);
    padding-left: 20px;
    color: #bbb;
    font-size: 13px;
}
.subNav a:hover{
    color: #14a9ff;
    background: url(../img/radio/sprite.png);
}


/***登录框**/
#cover{
    display:none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
#load{
    display:none;
    z-index: 101;
    margin-top: 0px;
    top:50px;
    left: 40%;
    position: fixed;
    width: 440px;
    font-size: 12px;
    color:black;
    box-shadow: 0 0 5px #666;
    text-align: left;
    z-index: 1000;
}
#load .load_content{
    position: relative;
    z-index: 2;
    border: 1px solid #ccc;
    background: #fff;
    padding: 30px 35px;
    height: 316px;
}
.load_close{
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
}
.load_close i{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 13px;
    margin-left: -7px;
    margin-top: -6px;
    overflow: hidden;
    text-indent: -999em;
    background-position: -175px -100px;
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
    background-image: url(../img/index/kg_popup_splice01.png?201409201440);
    background-repeat: no-repeat;
}
.load_content h4{
    width: 140px;
    overflow: hidden;
    font-size: 22px;
    color: #333;
    font-family: "Microsoft YaHei";
    float: left;
    display: inline;
    height: 30px;
    font-weight: normal;

}
.zhanghao{
    width: 368px;
    height: 308px;
    margin: 0 auto;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color:#7b7b7b;
}
.login_form{
    margin-top: 18px;
}
.kg_popup_txt_area {
    margin-bottom: 11px;
}
.kg_popup_txt_box {
    height: 22px;
    border: 1px solid #ccc;
    background: #f6f6f6;
    padding: 7px 10px;
    transition: 0.2s;
    /*position:absolute;*/
}
.kg_popup_txt_tl {
    float: left;
    height: 22px;
    line-height: 22px;
    margin-right: -3px;
    color: #7b7b7b;
}
.kg_popup_txt_ipt {
    border: 0;
    height: 22px;
    line-height: 22px;
    width: 260px;
    padding: 0;
    background: transparent;
    color: #a1a1a1;
    outline: none;
}
.kg_popup_tool_lt {
    float: left;
}
.kg_popup_tool_rt {
    float: right;
}
.kg_popup_login_btn {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: #2299ed;
    margin-top: 30px;
}
.position_absole {
    position: absolute;
    bottom: 30px;
}
.kg_popup_user_info {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 120px;
    height: 20px;
    line-height: 20px;
    color: #7b7b7b;
    text-align: right;
}
.kg_popup_user_info a{
    text-decoration: underline;
}
.kg_popup_forget_pwd{
    color: #7b7b7b;
    text-decoration: none;
}
.empty_box {
    height: 24px;
    background: #fff;
}
.kg_popup_thirdpart_icon {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 16px;
    padding-left: 16px;
    margin-right: 5px;
    font-size: 0;
    overflow: hidden;
    opacity: 0.6;
    background-image: url(../img/index/kg_popup_splice01.png?201409201440);
    background-repeat: no-repeat;

}
.kg_popup_thirdpart_weixin{
    background-position: -125px -125px;
}
.kg_popup_thirdpart_qq{
    background-position: -25px -125px;
}

/************关于登录的样式开始***********/
/*登录按钮的不可点击样式*/
.not_allow_login{
    pointer-events:none;
    background-color: #accaed;
}
/*用户名输入的错误提示框*/
.loginInputErrorMsg{
    background-color: #ffd1a7;
    color: red;
    padding: 10px;
    /*margin-top: -20px;*/
    /*position: relative;*/
    /*left:100px;*/
    /*top:100px;*/
}
#KgPopupUserNameErrorMsg{
    margin-left: 357px;
}
#KgPopupUserPwdErrorMsg{
    margin-left: 368px;
}

#errorMsg{
    display: block;
    min-height: 14px;
    height: auto;
    _height: 14px;
    padding: 30px 0 2px;
    line-height: 14px;
    font-size: 12px;
    color: #fc4343;
    clear: both;
}
/*登陆后*/
.logined{
    width: 110px;
    height: 30px;
    float: left;
    margin-top: -3px;
    margin-left: 20px;
    cursor: pointer;
}
.logined>img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.userName{
    display: inline-block;
    width: 70px;
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #777;
    font-size: 12px;
    position: relative;
    top: -8px;
}
.user_menus{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 117px;
    height: 59px;
    padding: 4px;
    border: 1px solid #d6d6d6;
    z-index: 9999;
    background-color: #fff;
}
.user_menus ul{
    width: 100%;
    border-right:none;
}
.user_menus ul li{
    width: 100%;
    position: relative;
    float: none;
    height: 28px;
    line-height: 28px;
    text-align: center;
    padding: 0;
}
.user_menus ul li span{
    position: absolute;
    left: 10px;
    top: 8px;
    padding: 8px;
}
.user_icon1{
    background: url("../img/head/user_icon1.png") no-repeat left top;
}
.user_icon2{
    background: url("../img/head/user_icon2.png") no-repeat left top;
}


/*搜索框*/
.search_recommend_head{
    position: absolute;
    top: 56px;
    left: 193px;
    width: 298px;
    border: 1px solid #d6d6d6;
    border-top: none;
    background-color: #fff;
    z-index: 999;
}
.search_recommend_head dl,.history_head dl{
    padding: 5px;
}
.search_recommend_head dd,.history_head dd{
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 33px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search_recommend_head dd em{
    font-style: normal;
    color: #14a9ff;
}
.history_head{
    position: absolute;
    top: 56px;
    left: 193px;
    width: 298px;
    border: 1px solid #d6d6d6;
    border-top: none;
    background-color: #fff;
    z-index: 999;
    cursor: pointer;
}
.history_head dd{
    padding: 0 10px;
    cursor: pointer;
}
.clear_history_head {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 5px;
    color: #666;
    cursor: pointer;
}
.clear_history_head dt{
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #666;
    font-size: 13px;
}