
* {
    margin: 0;
    padding: 0;
}

em, i {
    font-style: normal;
    text-align: left;
}

body {
    background: #f5f5f5;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.my_songsheet {
    /*overflow-x: hidden;
    overflow-y: scroll;*/
    position: relative;
    zoom: 1;
    margin-top: 30px;
}

.my_songsheet .songsheet_info {
    width: 980px;
    height: 500px;
    margin: 0 auto;
    /*  border: 1px solid #d3d3d3;*/
    border-width: 0 1px;
}

.my_songsheet .songsheet_info:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.left {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-top: 40px;
    float: left;
    width: 240px;
    position: fixed;
    height: 100%;
    border-left: 1px solid #d3d3d3;
}

.list .set {
    padding: 0 10px 12px 15px;
    font-size: 14px;
    color: #000;
    font-family: simsun, \5b8b\4f53;
}

.set .new_create {
    display: inline-block;
    width: 52px;
    height: 22px;
    background-position: 0 -96px;
    float: right;
}

.new_create i {
    display: inline-block;
    line-height: 22px;
    overflow: hidden;
    padding-left: 20px;
    color: #515151;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.btn {

    background: url(../img/my_songsheet/button.png) no-repeat 0 9999px;
}

.set .create_songsheet {
    cursor: pointer;
    position: relative;
}

.set i {
    text-align: left;
}

.set .songsheet_icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 5px;
    cursor: pointer;
    font-size: 0;
    height: 0;
    line-height: 0;
    border: 8px solid #ccc;
    border-color: transparent transparent transparent #ccc;
    border-style: dashed dashed dashed solid;
    margin-right: 0;
}

.set .songsheet_icon1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 5px;
    cursor: pointer;
    font-size: 0;
    height: 0;
    line-height: 0;
    border-color: #ccc transparent transparent;
    border-style: solid dashed dashed;
    border-width: 8px 7px 0;


}

.list ul {
    list-style: none;
    display: none;
}

.selected {
    background: #e6e6e6;
}

.selected:hover {
    background: #e6e6e6 !important;
}

.list ul li {
    position: relative;
    zoom: 1;
    height: 42px;
    padding: 6px 0 6px 20px;
    cursor: pointer;
}

.list ul li:hover {
    background: #f4f2f2;
}

.songlist .item {
    padding-left: 50px;
    font-size: 12px;
}

.item .pic {
    display: inline;
    float: left;
    margin-left: -50px;
    overflow: hidden;
    width: 40px;
}

.pic a {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
}

.pic a img {
    width: 40px;
    height: 40px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.item .name {
    width: 150px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.item .name a {
    color: #000;
}

.item .song_num {
    width: 130px;
    color: #999;
}

.handle {
    position: absolute;
    bottom: 7px;
    right: 0;
}

.edit, .delete {
    float: left;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    background: url(../img/my_songsheet/icon.png) no-repeat 0 9999px;
}

.handle {
    display: none;
}

.handle .edit {

    width: 13px;
    height: 13px;
    background-position: 0 -270px;

}

.edit:hover {
    background-position: -20px -270px;
}

.delete {
    width: 13px;
    height: 14px;
    background-position: 0 -284px;
}

.delete:hover {
    background-position: -20px -284px;
}

/*新建弹出来的框*/
.create_list,.create_list2, .delete_box, .delete_box2, .delete_box3 {
    position: absolute;
    z-index: 9998;
    width: 480px;
    border-radius: 4px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
    border: none;
    background: #fff;
    top: 165px;
    left: 720px;
    font-size: 12px;
    display: none;
}

.create_list .create_title,.create_list2 .create_title, .delete_box .delete_title, .delete_box2 .delete_title, .delete_box3 .delete_title {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #191919;
    border-radius: 4px 4px 0 0;
    background: #2d2d2d;
}

.create_title p, .delete_title p {
    padding-right: 45px;
    margin: 0;
    height: 38px;
    line-height: 38px;
    padding-left: 18px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.create_body, .delete_body {
    padding: 0;
    border: 1px solid #878787;
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    background: #fff;
}

.create_body .body_content, .delete_body .body_content {
    padding: 40px 0;
    margin-left: 30px;
    text-align: left;
}

.body_content:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.body_content .list_txt {
    vertical-align: middle;
    width: 330px;
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}

.body_content .error {
    margin-left: 48px;
    height: 17px;
    margin-top: 5px;
    line-height: 17px;
    color: #e33232;
    visibility: hidden;
}

.error i {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    background: url(../img/my_songsheet/icon.png) no-repeat 0 9999px;
    background-position: -50px -270px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;

}

.tip {
    margin: 8px 0 20px 48px;
    color: #999;
}

.body_content .btn {
    margin-left: 48px;
}

.btn .create_btn, .delete_btn {
    padding: 0 5px 0 0;
    white-space: nowrap;
}

.create_btn, .create_btn i, .delete_btn, .delete_btn i {
    background: url(../img/my_songsheet/button2.png) no-repeat 0 9999px;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

.create_btn i, .delete_btn i {

    width: 40px;
    padding: 0 15px 0 20px;
    pointer-events: none;

}

.btn1 {
    color: #fff;
    background-position: right -428px;
}

.btn1 i {
    color: #fff;
    background-position: 0 -387px;
}

.btn2 {
    margin-left: 20px;
    color: #333;
    background-position: right -100px;
}

.btn2 i {
    color: #333;
    background-position: 0 -59px;
}

.create_list .close,.create_list2 .close ,.delete_box .close {
    position: absolute;
    z-index: 20;
    top: 6px;
    right: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

/*右边*/
.right {
    /*height: 100%;*/
    float: right;
    width: 740px;
    /* padding-bottom: 50px;*/
    position: relative;
    zoom: 1;
    background: #fff;
}

.right .likesong {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.right .top {
    height: 315px;
    position: relative;
}

.right .top .detail_info {
    padding: 40px;
}

.detail_info .cover {
    float: left;
    position: relative;
    display: inline;
    margin: 0 -220px 0 0;
    width: 200px;
    height: 200px;
    padding: 3px;
    border: 1px solid lightgrey;
    background: #fff;


}

.cover img {
    display: block;
    width: 100%;
    height: 100%;

}

.cnt {
    float: right;
    width: 100%;
}

.cnt .cnt_info {
    margin-left: 230px;
}

.cnt_info .hd {
    position: relative;
    margin: 0 0 12px;
    line-height: 24px;
}

.hd .hd_songsheet {
    float: left;
    width: 50px;
    height: 24px;
    line-height: 24px;
    background: blue;
    color: #fff;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
}

.hd h2 {
    line-height: 24px;
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    padding-left: 10px;
}

.cnt_info .user {
    margin: 0 0 20px;
    line-height: 35px;
    font-size: 12px;
}

.user_pic {
    margin-right: 10px;
}

.user_pic, .user_pic img {
    float: left;
    width: 35px;
    height: 35px;
}

.user .uname {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 210px;
}

.uname a {
    color: #0c73c2;


}

.uname a:hover {
    text-decoration: underline;
}

.user .create_time {
    margin-left: 15px;
    color: #999;
}

.cnt_info .btns {
    margin-bottom: 25px;
    margin-right: -10px;
    font-size: 13px;

}

.btns .btn_play {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #0c73c2;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #0c73c2;
    float: left;
}

.add {
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #0c73c2;
    color: #fff;
    float: left;
    margin-left: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.u-btni, .u-btni i {
    float: left;
    height: 31px;
    line-height: 30px;
    min-width: 23px;
    cursor: pointer;
    margin-right: 6px;
    background: #f5f5f5;
    font-family: simsun, \5b8b\4f53;
    background: url(../img/my_songsheet/button2.png) no-repeat 0 9999px;

}

.u-btni i {
    color: #000;
    padding-right: 2px;
    padding-left: 28px;
    margin-right: 5px;
}

.collect {
    cursor: default;
    background-position: right -1192px;
}

.collect i {
    color: #bebebe;
    background-position: 0 -1149px;
    cursor: default;
}

.share, .download, .comment {
    background-position: right -1020px;
}

.share i {
    background-position: 0 -1225px;
}

.download i {
    background-position: 0 -2761px;
}

.comment i {
    background-position: 0 -1465px;
}

.song_title {
    padding: 0 10px 0 32px;
    height: 33px;
    border-bottom: 2px solid #0c73c2;
    position: absolute;
    bottom: 0;
    width: 696px;
}

.song_title h3 {
    font-size: 20px;
    line-height: 28px;
    float: left;
    font-weight: normal;
}

.song_title .sub {
    margin: 9px 0 0 20px;
    float: left;
    color: #666;
    font-size: 12px;
}

.song_title .more {
    margin-top: 5px;
    float: right;
    color: #666;
    font-size: 12px;
}

/*中间部分*/
.middle {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.m-table {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.m-table .w1 {
    width: 74px;
}

.m-table th {
    height: 38px;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    color: #666;
    border-right: 1px solid #d3d3d3;
    padding-left: 10px;
    line-height: 38px;

}

.m-table tbody tr:odd {
    background: #f7f7f7;
}

.m-table td {
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
}

.m-table .ply {
    float: right;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: url(../img/my_songsheet/table.png) no-repeat 0 9999px;
    background-position: 0 -103px;
}

.m-table .num {
    width: 25px;
    margin-left: 5px;
    color: #999;
}

.m-table .txt {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    margin-right: -25px;
    max-width: 99%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.txt .song_txt {
    line-height: 24px;
    color: #000;
}

.txt .song_txt:hover {
    text-decoration: underline;
}

.small_title {
    color: #aeaeae;
    font-size: 10px;
}

.txt .mv {
    width: 23px;
    height: 17px;
    margin: 1px 0 0 0;
    background: url(../img/my_songsheet/table.png) no-repeat 0 9999px;
    background-position: 0 -151px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
}

.m-table .total_time {
    display: block;
}

.icons {
    float: left;
    display: none;

}

.icons .u-icon {
    float: left;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 2px;
    width: 13px;
    height: 13px;
    background: url(../img/my_songsheet/icon.png) no-repeat 0 9999px;
    background-position: 0 -700px;
}

.icon {
    float: left;
    width: 18px;
    height: 16px;
    margin: 2px 0 0 4px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
    background: url(../img/my_songsheet/table.png) no-repeat 0 9999px;
}

.icon-collect {
    background-position: 0 -174px;
}

.icon-share {
    background-position: 0 -195px;
}

.icon-download {
    background-position: -81px -174px;
}

.icon-delete {
    background-position: 0 -217px;
}


/*下面的评论*/
.bottom {
    margin-top: 40px;
    padding-bottom: 10px;
}

.comment_title {
    height: 33px;
    line-height: 33px;
    padding: 0 10px 0 32px;
    border-bottom: 2px solid #0c73c2;
}

.comment_title h3 {
    width: 40px;
    float: left;
    font-weight: normal;
}

.comment_title .sub {
    margin: 9px 0 0 20px;
    color: #666;
    font-size: 12px;
}

.m-cmmt {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 20px;
    height: 98px;
}

.m-cmmt .comment_info {
    margin-bottom: 20px;
    height: 98px;
}

.comment_info .head, .comment_info .head img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: -100px;
}

.comment_content {
    margin-left: 62px;
    position: relative;
}

.comment_content .u-txtwrap {
    padding-right: 14px;
    position: relative;
}

.u-txtwrap .area {
    height: 50px;
    display: block;
    width: 100%;
    margin-right: -20px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
    resize: none;
    overflow: auto;
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.comment_content .btns {
    padding-top: 10px;
    position: relative;
}

.comment_content .btns:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.comment_content .btns .btn {
    float: right;
    display: inline-block;
    font-size: 12px;
    background: url(../img/my_songsheet/button.png) no-repeat 0 9999px;
}

.comment_content .btns .u-btn-1 {
    width: 46px;
    height: 25px;
    background-position: -84px -64px;
    color: #fff;
    text-align: center;
    line-height: 25px;
}

.comment_content .btns .zs {
    float: right;
    margin-right: 10px;
    line-height: 25px;
    color: #999;
    font-size: 10px;
}

.share_dialog, .addToList {
    position: absolute;
    z-index: 9998;
    width: 530px;
    border-radius: 4px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
    border: none;
}

.share_dialog .zbar, .addToList .zbar {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #191919;
    border-radius: 4px 4px 0 0;
    background: #2d2d2d;
    height: 39px;
}

.zbar .title {
    padding-right: 45px;
    margin: 0;
    height: 38px;
    line-height: 38px;
    padding-left: 18px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-position: 50% 0;
}

.zcnt {
    padding: 0;
    border: 1px solid #878787;
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    background: #fff;
}

.m-tabs {
    height: 27px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    list-style: none;
    font-size: 13px;
}

.m-tabs li {
    margin-right: 4px;
    position: relative;
    border: 1px solid #dedede;
    text-align: center;
    width: 91px;
    height: 27px;
    float: left;
    border-bottom: none;
}

.m-tabs li a {
    line-height: 28px;
    color: #000;
}

.m-tabs .z-slt {
    border: 1px solid #0c73c2;
    border-bottom: none;


}

.m-tabs .z-slt a {
    color: #0c73c2;
}

.share_dialog .u-txtwrap {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.u-txtwrap {
    padding-right: 14px;
}

.share_dialog .area {
    height: 106px;
    border: none;
}

.u-txt {
    width: 100%;
    margin-right: -20px;
    margin: 0;
    padding: 5px 6px 6px;
    border-radius: 2px;
    line-height: 19px;
}

textarea {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.share_dialog .info {
    position: relative;
    height: 45px;
    line-height: 45px;
    margin: 0 -14px 0 0;
    padding: 0 10px;
    cursor: pointer;
    cursor: auto;
    background-color: transparent !important;
}

.share_dialog .info .text {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    float: left;
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.word {
    float: right;
    color: #999;
    font-size: 12px;
    margin-top: 10px;
}

.share_btn {
    height: 30px;
    margin-top: 30px;
}

.share_btn .btnwrap {

    float: left;
}

.btnwrap a {
    margin-right: 10px;
    display: inline-block;
    width: 80px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
}

.btnwrap .btn1 {
    background: #0c73c2;
    color: #fff;
    border: 1px solid #0c73c2;
}

.close {
    position: absolute;
    z-index: 20;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
}

.share_dialog {
    display: none;
}

.addToList {
    width: 480px;
    background: #fff;
    display: none;
}

.add_content {
    overflow-y: auto;
    height: 374px;
}

.add_content .new_songsheet {
    padding: 10px 0 10px 35px;
    background: #e6e6e6;
    cursor: pointer;
    font-size: 12px;
}

.new_songsheet .u-icon {
    width: 35px;
    height: 36px;
    background: url(../img/my_songsheet/icon.png) no-repeat 0 9999px;
    background-position: 0 -495px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
}

.newlist ul li {
    padding: 6px 0 6px 35px;
    border-top: 1px solid #e0e0e0;
    cursor: pointer;
}

.newlist ul li:hover {
    background: rgba(225, 225, 225, 0.4);
}

.newlist .songlist .item {
    padding-left: 50px;
}

/*编辑内容框*/
.right .edit_dialog {
    padding: 40px;
    font-size: 12px;
}

.edit_title {
    height: 27px;
    border-bottom: 1px solid #cbcbcb;
    font-family: simsun, \5b8b\4f53;
}

.edit_title .name {
    color: #0c73c2;
}

.edit_title .name:hover {
    text-decoration: underline;
}

.edit_title .arr {
    margin: 0 6px 0 8px;
    color: #999;
}

.edit_dialog .edit_content {
    margin-top: 30px;
}

.edit_content .edit_left {
    width: 364px;
    float: left;
    margin-right: 30px;
}

.edit_left .itm {
    position: relative;
    zoom: 1;
    min-height: 32px;
    margin-bottom: 10px;
    padding-left: 62px;
}

.itm .must {
    position: absolute;
    left: 0;
    top: 11px;
    color: #c20c0c;
}

.itm .lab {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    line-height: 32px;
    text-align: right;
}

.itm .u-txt {
    border: 1px solid #cdcdcd;
}

.itm .tags {
    padding-top: 5px;
}

.tags .choose {
    line-height: 23px;
    color: #0c73c2;
}

.itm .tagnote {
    margin-top: 8px;
    color: #999;
}

.itm .u-txtwrap {
    padding-right: 14px;
    position: relative;
}

.itm .u-txtwrap .area {
    width: 292px;
    height: 122px;
    margin-right: -20px;
}

.u-txtwrap .zs {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: #D0D0D0;
}

.itm .u-btn {
    display: inline-block;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.itm .btn1 {
    background: #0c73c2;
    color: #fff;
}

.itm .btn2 {
    background: #cbcbcb;
}

.edit_content .edit_right {
    position: relative;
}

.edit_content .edit_right, .edit_content .edit_right img {
    float: left;
    width: 140px;
    height: 140px;
}

.edit_right span {
    display: inline-block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    color: #fff;
    background: #8e8e8e;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
}

.baffle{
    top: 0px;
    width: 100%;
    height: 120%;
    display: none;
    position: absolute;
    z-index: 996;
}

.cmmts{
    width: 93%;
    height: auto;
    padding: 10px 26px 0;
    font-size: 13px;
}
.u-hd4{
    position: relative;
    top: 1px;
    height: 20px;
    border-bottom: 1px solid #cfcfcf;
    font-size: 12px;
}
.cmmts .cntwrap {
    margin-left: 60px;
}
.cmmts .head img{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: -100px;
}
.f-brk {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}
.cmmts ul li{
    padding: 15px 0;
    border-top: 1px dotted #ccc;
    height:53px;
}
.s-fc7{
    color: #0c73c2;
    line-height: 20px;
    margin-right: 5px;
}
.rp{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.rp .time{
    float: left;
    color: #999;
}
.rp .zan-f1{
    float: right;
}
.rp .zan-f1 a:hover{
    color: blue;
    text-decoration: underline;
}
.zan{
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url(/img/my_songsheet/icon2.png) no-repeat -150px -20px;
    position: relative;
    top: 1px;
    right: 3px;
}



