.content{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.content .sing_content{
    z-index: 100;
    position: absolute;
    left: 50%;
    width: 840px;
    margin: 100px 0 0 -390px;
    margin-top: 10px;
    zoom: 1;
}
.fl{
    float: left;
}
.content .album {
    width: 262px;
    margin-top: 100px;
}
.content .albumImg {
    width: 262px;
    height: 262px;
    margin-bottom: 25px;
    background: url(../img/playsing/default.jpg) no-repeat left top;
}
.content .albumImg img {
    border: none;
}
.content .albumImg a, .content .albumImg img {
    width: 260px;
    height: 260px;
}
.content .btnArea2 {
    margin-top: 40px;
    padding-left: 16px;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    font-size: 0;
}

.btnDownloadClient {
    display: block;
    width: 230px;
    height: 50px;
    background: url(../img/playsing/downlaod_bg.png) no-repeat;
    cursor: pointer;
}

.sing_content .song_info{
    width: 460px;
    min-height: 500px;
    margin-top: 100px;
    margin-left: 116px;
    float: left;
}
.song_info .songName{
    font-size: 24px;
    font-style: normal;
    color: #fff;
    width: 460px;
}
.songName .audioName{
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 420px;
}
.btnMv {
    float: left;
    display: inline-block;
    width: 25px;
    height: 13px;
    margin: 15px 0 0 10px;
    cursor: pointer;
    background: url(../img/playsing/btn.png);
    background-position: 0 -214px;
}
.icon {
    display: block;
    cursor: pointer;
    background: url(../img/playsing/btn.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 14px;
}
.songDetail {
    padding-top: 9px;
}
.songDetail .albumName,.singerName{
    margin-right: 10px;
    display: block;
    width: 220px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #fff;
}

.songDetail .fontColor {
    opacity: 0.6;
}
.songDetail a{
    float: none;
    color: #fff;
    padding-right: 5px;

}
.songWordContent {
    outline: 0;
    height: 410px;
    margin-top: 17px;
    /*overflow: hidden;*/
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #fff;
    line-height: 30px;
}

.songWordContent p {
    width: 420px;
    height: 34px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
}
.jspVerticalBar {
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
}
.jspDrag, .jspTrack {
    position: relative;
}
.jspDrag {
    /* background: #fff;*/
    opacity: 0.2;
    filter: alpha(opacity=20);
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 8px;
}
#bot{
    width: 100%;
    height: 80px;
    background-color:#000;
    box-shadow: 0 0 20px #403f3f;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.bmid{
    width: 960px;
    height: 80px;
    margin: auto;
}
.bot_left{
    width: 160px;
    height: 80px;
    float: left;
}
.prev{
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/playsing/btn.png);
    background-position: 0 -143px;
    position: absolute;
    margin-left: -7px;
    margin-top: 22px;
}
.prev:hover{
    background-position: 264px -143px;
}
.play{
    display: block;
    width: 60px;
    height: 60px;
    background: url(../img/playsing/btn.png);
    position: absolute;
    margin-left: 43px;
    margin-top: 10px;
}
.stop{
    display: none;
    width: 60px;
    height: 60px;
    background: url(../img/playsing/btn.png);
    position: absolute;
    margin-left: 43px;
    margin-top: 10px;
    background-position: 241px -61px;
}
.next{
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/playsing/btn.png);
    background-position: 84px -143px;
    position: absolute;
    margin-left: 117px;
    margin-top: 22px;
}
.next:hover{
    background-position: 120px -143px;
}
.playImg,.playImg img{
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    float: left;
    margin-left: 20px;
}
.bot_mid{
    margin-left: 40px;
    width: 370px;
    height: 80px;
    float: left;
    cursor: default;   /*鼠标显示箭头*/
}
.mid_up{
    width: 370px;
    height: 24px;
    padding-top: 18px;
}
.songName{
    color: #c4c3c3;
    font-size: 13px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 239px;
}
.change-time, .all-time{
    color: #fff;
    font-size: 12px;
    font-style: normal;
}
/*播放进度*/
.mid_down{
    width: 370px;
    height: 5px;
    margin-top: 11px;
    cursor: pointer;
}
.progress_bg{
    cursor: pointer;
    height: 3px;
}
.progress_bg .bg_left{
    display: block;
    width: 2px;
    height: 3px;
    background: url(../img/playsing/btn.png) -217px -200px;
}
.progress_bg .bg_middle{
    display: block;
    width: 370px;
    height: 3px;
    margin-left: 2px;
    margin-top: -3px;
    background: url(../img/playsing/progress_bg_middle.png) repeat-x top left;
}
.progress_bg .bg_right{
    display: block;
    width: 2px;
    height: 3px;
    margin-left: 371px;
    margin-top: -3px;
    background: url(../img/playsing/btn.png) -237px -200px;
}
.progress_bar{
    height: 3px;
    cursor: pointer;
}
.progress_bar .bar_left{
    display: block;
    width: 2px;
    height: 3px;
    margin-top: -3px;
    background: url(../img/playsing/btn.png) -527px -387px;
}
.progress_bar .bar_mid{
    display: block;
    margin-left: 2px;
    width: 370px;
    height: 3px;
    overflow: hidden;
    margin-top: -3px;
    background: url(../img/playsing/progress_bar_middle.png)repeat-x top left;
}
.drag_playhead{
    position: absolute;
    margin-top: -8px;
    width: 371px;
    height: 12px;
}
.drag_playhead2{
    position: absolute;
    margin-top: 4px;
    background: #00e4ff;
    width: 0.32%;
    height: 4px;
}
.drag_playhead .playhead{
    display: block;
    margin-left: 0.32%;
    width: 12px;
    height: 12px;
    background:url(../img/playsing/btn.png) -217px -181px;
}
/*右边功能块*/
.bot_right{
    width: 260px;
    height: 80px;
    float: left;
    margin-left: 50px;
    position: relative;
}
/*音量开关*/
.bot_right .volume{
    width: 16px;
    height: 16px;
    margin-top: 34px;
    background: url(../img/playsing/btn.png) -64px -195px;
    cursor: pointer;
    float: left;
}
.volume:hover{
    background: url(../img/playsing/btn.png) -80px -195px;
}
/*音量控制面板 隐藏部分*/
.bot_right .volume_panel{
    display: none;
    margin-left: -5px;
    margin-top: -115px;
    width: 29px;
    height: 114px;
    background: url(../img/playsing/volume-panel.png) no-repeat;
    z-index: 100;
    position: absolute;
}
.panel_control{
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 11px;
    width: 5px;
    height: 90px;
}
.panel_bottom{
    width: 3px;
    height: 2px;
    display: block;
    cursor: pointer;
    background:url(../img/playsing/btn.png) -584px -425px;
    position: absolute;
    left: 1px;
    top: 78px;
}
.vol_bar{
    cursor: pointer;
    position: absolute;
    left: 1px;
    top: 2px;
    width: 3px;
    height: 86px;
    overflow: hidden;
}
.panel_progress{
    position: absolute;
    left: 0px;
    top: 41px;
    width: 3px;
    height: 86px;
    background: url(../img/playsing/volume_middle.png);
    overflow: hidden;
}
.vol_head{
    cursor: pointer;
    position: absolute;
    left: -2px;
    top: -1px;
    width: 9px;
    height: 80px;
}
.panel_head{
    position: absolute;
    left: 0px;
    width: 9px;
    height: 9px;
    top: 42.5375px;
    background: url(../img/playsing/btn.png) -242px -130px;
}
/*添加播放提示 隐藏部分*/
.play_tips{
    position: absolute;
    width: 150px;
    height: 40px;
    padding: 10px 0;
    line-height: 30px;
    bottom: 80px;
    right: 100px;
    color: #fff;
    text-align: center;
    background: url(../img/playsing/paly_add.png) no-repeat left top;
}
/*播放模式*/
.play_mode{
    display: block;
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../img/playsing/btn.png) no-repeat -64px -179px;
    margin-left: 30px;
    margin-top: 34px;
}
.play_mode:hover{
    background: url(../img/playsing/btn.png) no-repeat -80px -179px;
}
/*播放模式 隐藏部分*/
.mode_panel{
    position: absolute;
    margin-left: -5px;
    margin-top: -116px;
    width: 100px;
    padding: 10px;
    height: 95px;
    z-index: 100;
    background: url(../img/playsing/play_style.png) no-repeat left top;
}
.mode_panel li{
    height: 30px;
    width: 100px;
    line-height: 30px;
}
.mode_panel li .mode_img1{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 7px 8px;
    vertical-align: middle;
    background: url(../img/playsing/btn.png) no-repeat -96px -179px;
}
.mode_panel li .mode_img2{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 7px 8px;
    vertical-align: middle;
    background: url(../img/playsing/btn.png) no-repeat 0 -179px;
}
.mode_panel li .mode_img3{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 7px 8px;
    vertical-align: middle;
    background: url(../img/playsing/btn.png) no-repeat -128px -179px;
}
.mode_panel li .mode_word{
    color: #19b5f0;
    line-height: 30px;
    font-size: 13px;
}
.mode_panel li .mode_wordx{
    color: #fff;
    line-height: 30px;
    font-size: 13px;
}
/*下载*/
.pb_download{
    display: block;
    width: 15px;
    height: 15px;
    background:  url(../img/playsing/btn.png) no-repeat -240px -32px;
    cursor: pointer;
    position: absolute;
    margin-left: 92px;
    margin-top: 32.5px;
}
.pb_download:hover{
    background:  url(../img/playsing/btn.png) no-repeat -256px -32px;
}
/*分享*/
.pb_share{
    display: block;
    width: 15px;
    height: 15px;
    background:  url(../img/playsing/btn.png) no-repeat -240px 0;
    cursor: pointer;
    position: absolute;
    margin-left: 136px;
    margin-top: 32.5px;
}
.pb_share:hover{
    background:  url(../img/playsing/btn.png) no-repeat -256px 0;
}
.list{
    position: absolute;
    display: block;
    right: 10px;
    top: 29px;
    width: 60px;
    height: 23px;
    cursor: pointer;
    background: url(../img/playsing/btn.png) no-repeat 0 -120px;
}
.list_count{
    margin-left: 30px;
    color: #fff;
    font-size: 13px;
}
.list:hover{
    background: url(../img/playsing/btn.png) no-repeat -61px -120px;
}
.list:hover .list_count{
    color: #19b5f0;
}

/*控制台展示按钮*/
.bot_bot{
    position: absolute;
    margin-top: -96px;
    right: 40px;
    width: 26px;
    height: 16px;
}
.bot_bot .bot1{
    position: absolute;
    width: 26px;
    height: 16px;
    background: url(../img/playsing/shbar.png) no-repeat;
    opacity: 0.3;
}
.bot_bot .bot2{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    display: block;
    cursor: pointer;
    background: url(../img/playsing/btn.png) no-repeat -140px -211px;
}
.bot_bot .bot2:hover{
    background: url(../img/playsing/btn.png) no-repeat -230px -211px;
}


/*--  歌词部分 -*/
.jspPane p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*高亮歌词居中*/
.centerWords{

}

.ie8FontColor{color:#eee\9}
.playOver{
    color:#01e5ff;
    opacity:1;
}
/*.content .songContent .songWordContent .nosong_tip{color:#bdbebe}*/
/*.content .songContent .songWordContent .nosong_tilte{color:#fff;font-size:18px}*/
/*.content .songContent .songWordContent .goIndex{padding:5px 15px;background-color:#169af3;color:#fff;border-radius:5px}*/


/*播放列表的样式*/
/*播放列表 隐藏面板*/
/*播放面板的div*/
.mod-playlist{
    display: none;
    overflow: hidden;
    position: relative;
    left: 467px;
    top: -490px;
    z-index: 99;
    width: 480px;
    height: 410px;
    background: #475259;
    color: #7c898e;
}

/*播放面板*/
.mod-playlist .song-box {
    height: 410px;
    background-color: #2f343b;
}

/*头部*/
.mod-playlist .box-header{
    position: relative;
    width: 442px;
    height: 50px;
    padding: 0 19px;
    font-size: 16px;
    line-height: 50px;
    overflow: hidden;
    color: #86898e;
    background-color: #2a2e35;
}
/*头部文字显示  播放队列*/
.mod-playlist .box-header .title {
    margin-right: 65px;
}

/*头部右边的选择  清空、关闭*/
.mod-playlist .box-header .action-box {
    position: absolute;
    right: 19px;
    top: 0;
    width: 75px;
    height: 40px;
    line-height: 40px;
}
.fr, .navWrap .subNav {
    float: right;
}

/*显示音乐列表的模版*/
.mod-playlist .musicbox {
    height: 360px;
    background-color: #2f343b;
    padding-left: 10px;
}

/*滚动面板*/
.jspContainer {
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.jspPane, .jspVerticalBar {
    position: absolute;
}

/*歌曲列表中的一首歌曲 ===============================================开始==========*/
.mod-playlist .musicbox .musiclist li {
    width: 450px;
    cursor: pointer;
}
.mod-playlist .musicbox .musiclist-item {
    overflow: hidden;
    width: 450px;
    line-height: 39px;
    border-bottom: 1px solid #42484e;
}

.mod-playlist .musicbox .musiclist-item .musiclist-number {
    float: left;
    width: 30px;
    line-height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.mod-playlist .musicbox .musiclist-item .musiclist-name {
    float: left;
    position: relative;
    overflow: hidden;
    width: 254px;
    height: 39px;
    margin-left: 16px;
}

.mod-playlist .musicbox .musiclist li.active .musiclist-songname-txt {
    display: block;
    color: #19b5f0;
}

.mod-playlist .musicbox .musiclist-item .musiclist-artist {
    float: left;
    width: 90px;
    height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #77777e;
}


.mod-playlist .musicbox .musiclist-item .musiclist-name .musiclist-songname-txt {
    float: left;
    max-width: 58%;
    height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #d3d3d3;
}


.mod-playlist .musicbox .musiclist-item .musiclist-name .mod-list-menu {
    visibility: hidden;
    /*visibility: inherit;*/
    position: absolute;
    right: 0;
    top: 0;
    width: 95px;
    height: 40px;
    line-height: 40px;
}

.mod-playlist .musicbox .musiclist-item .musiclist-name .mod-list-menu .list-menu-item {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 13px;
    margin-right: 15px;
}


.mod-playlist .musicbox .musiclist-item .musiclist-time {
    float: left;
    width: 60px;
    color: #77777e;
    font-family: Tahoma;
}


/*歌曲列表中的一首歌曲================================================结束=========*/
.mod-playlist .box-header .action-box .list-menu-icon-del {
    margin-right: 20px;
}
.mod-playlist .box-header .action-box .icon {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 22px;
}
.list-menu-icon-del {
    background-position: -240px -64px;
}
.clear {
    clear: both;
    height: 0;
    width: 100%;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.mod-playlist .box-header .action-box .line {
    float: left;
    width: 1px;
    height: 20px;
    margin-top: 20px;
    opacity: .5;
    background: url(../img/images/line.png) no-repeat left center;
}
.mod-playlist .box-header .action-box .list-menu-icon-close {
    margin-left: 20px;
}
.mod-playlist .box-header .action-box .icon {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 22px;
}
.list-menu-icon-close {
    background-position: -240px -96px;
}
.list-menu-icon-close:hover{
    background-position: -256px -96px;
}

.icon-playbar-download {
    width: 15px;
    height: 15px;
    background-position: -240px -32px;
}
.icon-playbar-download:hover{
    background-position: -256px -32px;
}
.icon-playbar-share {
    width: 15px;
    height: 15px;
    background-position: -240px 0;
}
.icon-playbar-share:hover{
    background-position: -256px 0;
}

.list-menu-icon-del {
    background-position: -240px -64px;
}
.list-menu-icon-del:hover{
    background-position: -256px -64px;
}
