<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="../public/css/download.css" th:href="@{/css/download.css}">
  </head>
  <body>
  <!-- 引入头部 -->
  <div th:replace="commons/head::headbar(activeUri='download')"></div>

<!-- 头 -->
	<div id="local">
		<span class="local">我的位置：</span>
		<a href="index.html" th:href="@{/index.html}">首页</a> >
		<a href="download.html" th:href="@{/download.html}">下载客户端</a>
	</div>
	<!--内容部分-->
	<div id="con1">
		<div class="con1_mid">
			<div class="mid1">
				<p class="mid_copyright">v 8.8.24</p>
				<a href=""><div class="mid1_pic"></div></a>
				<p class="mid_copyrightx"><a href="">酷狗PC版</a></p>
				<p class="mid_date">更新日期：2018.05.22</p>
				<a href="" class="mid_down">
					<i></i>
					<span>立即下载</span>
				</a>
			</div>
			<div class="mid2">
				<p class="mid_copyright">v 8.8.24</p>
				<a href=""><div class="mid2_pic"></div></a>
				<p class="mid_copyrightx"><a href="" style="left: 105px">酷狗Android版</a></p>
				<p class="mid_date">更新日期：2018.05.22</p>
				<a href="" class="mid_down">
					<i></i>
					<span>立即下载</span>
				</a>
			</div>
			<div class="mid3">
				<p class="mid_copyright">v 8.8.24</p>
				<a href=""><div class="mid3_pic"></div></a>
				<p class="mid_copyrightx"><a href="" style="left: 110px">酷狗iPhone版</a></p>
				<p class="mid_date">更新日期：2018.05.22</p>
				<a href="" class="mid_down">
					<i></i>
					<span>立即下载</span>
				</a>
			</div>
		</div>
	</div>
	<div id="con2">
		<div class="con2_mid">
			<div class="xmid1">
				<a href=""><div class="xmid1_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid2">
				<a href=""><div class="xmid2_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid3">
				<a href=""><div class="xmid3_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid4">
				<a href=""><div class="xmid4_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid5">
				<a href=""><div class="xmid5_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid6">
				<a href=""><div class="xmid6_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid7">
				<a href=""><div class="xmid7_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid8">
				<a href=""><div class="xmid8_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid9">
				<a href=""><div class="xmid9_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid10">
				<a href=""><div class="xmid10_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid11">
				<a href=""><div class="xmid11_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid12">
				<a href=""><div class="xmid12_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid13">
				<a href=""><div class="xmid13_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
			<div class="xmid14">
				<a href=""><div class="xmid14_pic"></div></a>
				<div class="xmid_right">
					<p class="name">VIPER HiFi</p>
					<p class="num">更新日期：2018.02.02</p>
					<a href="">下载</a>
					<p class="num" style="margin-top: 15px">V 1.0.20</p>
				</div>
			</div>
		</div>
	</div>
<!-- 尾 -->

	<script src="../public/js/download.js" th:src="@{/js/download.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
