<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="../public/css/mall.css">
  </head>

  <body>
  	<a href="">
  		<div id="topbanner"></div>
  	</a>
  	<div id="register">
  		<div class="reg_mid">
  			<div class="right">
  				<ul>
  					<li class="right1"><a href="register.html" target="_blank">注册</a></li>
  					<li class="right2"><a href="">登陆</a></li>
  					<li class="right3"></li>
  					<li class="right4"><a href=""></a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div id="head">
  		<div class="head_mid">
  			<a href="" class="head_logo"></a>
  			<ul>
  				<li><a href="Shop.html">酷狗商城</a></li>
  				<li><a href="../下载客户端/Downlode.html" target="_blank">下载客户端</a></li>
  				<li><a href="../音乐直播/音乐直播.html" target="_blank">音乐直播</a></li>
  				<li><a href="../音乐人.html" target="_blank">酷狗音乐人</a></li>
  			</ul>
  			<ul class="head_right">
  				<li><a href="../下载客户端/Downlode.html" target="_blank">产品中心</a></li>
  				<li><a href="../会员中心/会员中心.html" target="_blank">VIP中心</a></li>
  				<li><a href="../客服中心/客服中心.html" target="_blank">客服中心</a></li>
  			</ul>
  		</div>
  	</div>
  	<div id="imgs">
  		<div class="bigImg">
  			<div class="bigImg1"></div>
  			<div class="bigImg2"></div>
  			<a href="">天猫购买</a>
  		</div>
  		<div class="img1">
  			<div class="img1_box">
  				<a href="">查看详情</a>
  				<a href="">立即购买</a>
  			</div>
  		</div>
  		<div class="img2">
  			<div class="img2_box">
  				<a href="">查看详情</a>
  				<a href="">立即购买</a>
  			</div>
  		</div>
  		<div class="img3">
  			<div class="img3_box">
  				<div class="img3_left">
  					<div class="img3_left1"></div>
  					<div class="img3_left2">
  						<a href="" class="left2_a1"></a>
  						<a href="" class="left2_a2"></a>
  					</div>
  				</div>
  				<div class="img3_right"></div>
  			</div>
  		</div>
  		<div class="img4">
  			<div class="img4_top"></div>
  			<dl>
  				<dd class="dd1"><a href=""></a></dd>
  				<dd class="dd2"><a href=""></a></dd>
  				<dd class="dd3"><a href=""></a></dd>
  			</dl>
  		</div>
  	</div>
  	<div id="service">
  		<div class="ser">
  			<dl>
  				<dt><a href="">帮助中心</a></dt>
  				<dd><a href="">运费规则</a></dd>
  				<dd><a href="">支付方式</a></dd>
  				<dd><a href="">物流配送</a></dd>
  			</dl>
  			<dl>
  				<dt><a href="">服务支持</a></dt>
  				<dd><a href="">售后政策</a></dd>
  				<dd><a href="">官网验伪</a></dd>
  				<dd><a href="">相关下载</a></dd>
  			</dl>
  			<dl>
  				<dt><a href="">关于酷狗</a></dt>
  				<dd><a href="">关于酷狗</a></dd>
  				<dd><a href="">加入酷狗</a></dd>
  				<dd><a href="">联系我们</a></dd>
  			</dl>
  			<dl style="width: 100px">
  				<dt><a href="">关于我们</a></dt>
  				<dd><a href="">酷狗论坛</a></dd>
  				<dd><a href="">官方微信</a></dd>
  				<dd><a href="">新浪微博</a></dd>
  			</dl>
  			<div class="online_ser">
  				<p>周一至周五9：30-18：30</p>
  				<p>（仅受理订单相关资讯）</p>
  				<a href="">在线客服</a>
  			</div>
  		</div>
  	</div>
  	<!--回到顶部-->
  	<div id="scollTop">
  		<a href="#"></a>
  	</div>

    <script src="../public/js/mall.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
