<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="../public/css/musicMan.css">
  </head>
  <body>
<!-- 头 -->
    <div id="wrap">
    	<div class="music_top">
    		<a href="酷狗音乐人计划.html" class="music_pic">
    		</a>
    		<div class="music_login">
    			<div class="no_login">
    				<a href="腾讯音乐人.html" class="duli"></a>
    				<a href="javascript:void(0)" class="chuangzuo"></a>
    			</div>
    			<!-- 还有两种情况-->
    		</div>
    	</div>
    	<div class="music_content">
    		<h2>了解酷狗音乐人</h2>
    		<div class="music_find">
    			<h3>什么是酷狗音乐人</h3>
    			<p>酷狗音乐人是面向所有音乐艺人和唱片公司提供的数字音乐服务，致力于广泛推广并迅速扩大公司旗下艺人或独立音乐人的影响力。</p>
    		</div>
    		<div class="music_find">
    			<h3>如何加入酷狗音乐人</h3>
    			<p>需音乐人本人申请（经纪人、公司负责人或经音乐人授权使用作品的申请人，请在提交时附注说明）</p>
    		</div>
    		<div class="music_process">
    			<span class="music_process1"></span>
    			<span class="music_process2"></span>
    			<span class="music_process3"></span>
    			<span class="music_process4"></span>
    		</div>
    		<div class="music_supply">
    			<h2>酷狗音乐为您提供的</h2>
    			<ul class="music_service">
    				<li>
    					<span class="music_service1"></span>
    					<h4>音乐盛典  万众瞩目</h4>
    					<p>一年一度的酷音乐亚洲盛典会产生专属于音乐人的奖项，酷狗音乐人有机会参与盛典演出</p>
    				</li>
    				<li>
    					<span class="music_service2"></span>
    					<h4>海量用户  大范围曝光</h4>
    					<p>您的作品将进入酷狗正版曲库，并渗透到全系列产品中，让4亿用户听到您的声音</p>
    				</li>
    				<li>
    					<span class="music_service3"></span>
    					<h4>精美周刊  专业点评</h4>
    					<p>由专业乐评人每周评选出10首音乐人作品，并做成音乐周刊在酷狗进行推荐</p>
    				</li>
    				<li>
    					<span class="music_service4"></span>
    					<h4>权威榜单  众望所归</h4>
    					<p>排行榜每周发布一次音乐人专属榜单，好音乐用数据说话</p>
    				</li>
    				<li>
    					<span class="music_service5"></span>
    					<h4>明星专访  MV拍摄</h4>
    					<p>音乐人将有机会获得酷狗明星专访，量身打造音乐MV的机会</p>
    				</li>
    				<li>
    					<span class="music_service6"></span>
    					<h4>签约歌手  炫酷直播 <a class="toBeSinger" target="_blank" href="" title="如何成为繁星签约歌手？"></a>
    					</h4>
    					<p>成为繁星签约歌手，与粉丝零距离互动，开启线上万人演唱会直播</p>
    				</li>
    			</ul>
    		</div>
    		<div class="download">
    			<h2>文档下载</h2>
    			<div class="warrant">
    				<div class="download_btn">
    					<a href="" class="download_btn1"></a>
    					<a href="" class="download_btn2"></a>
    				</div>
    				<div class="download_text">
    					<p class="doc">申请酷狗音乐人（公司）文件下载（见左图）。填写完成后，快递寄送到以下地址：</p>
    					<div class="download_address">
    						<p><span class="kg_left">地  址：</span><span>北京朝阳区天辰东路7号国家会议中心北区3层</span></p>
    						<p><span class="kg_left">收件人：</span><span>曹丽瑞</span></p>
    						<p>
    							<span class="kg_left">Q Q：</span><span>1296376134</span>
    						</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
<!-- 尾 -->
  <script src="../public/js/musicMan.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
