<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
	<link rel="shortcut icon"  href="../static/favicon.ico" th:href="@{/favicon.ico}"/>
	<link rel="stylesheet" href="../public/css/head.css" th:href="@{/css/playsong.css}"/>


</head>
<body>
    <!-- 引入头部 -->
    <div th:replace="commons/head::headbar(activeUri='index')"></div>

    <div class="content">
    	<div class="sing_content">
    		<div class="album fl">
                <div class="albumImg">
                    <a class="fl" target="_blank" href="" title="">
                    	<img src="" th:src="${simpleSongBean.oneMusic.musicImg}">
                    </a>
                </div>
                <div class="btnArea2 clearfix">
                    <a target="_blank" class="btnDownloadClient" onclick="" download="test" th:href="${simpleSongBean.oneMusic.musicPlayUrl}"></a>
                </div>

            </div>
            <div class="song_info">
            	<!-- 歌曲名字 -->
            	<div class="songName clearfix" title="">
            		<span class="audioName" title="一秒钟" th:title="${simpleSongBean.oneMusic.musicAlbumName}" th:text="${simpleSongBean.oneMusic.musicAlbumName}">一秒钟</span>
            		<!-- 如果歌曲有mv的话，这个按钮就显示 -->
					<div th:if="${simpleSongBean.oneMusic.musicHaveMv eq 1}">
                     	<a target="_blank" href="#" class="icon btnMv" th:href="@{/mvPlay.html/}+${simpleSongBean.oneMusic.musicVideoId}"></a>
					</div>
                </div>
                <!-- 专辑  歌手 -->
                <div class="songDetail clearfix">
                    <p class="albumName fl" style="">
                        <span class="fontColor">专辑：</span>
                        <a target="_blank" href="" title="一秒钟" th:title="${simpleSongBean.oneMusic.musicAlbumName}" th:text="${simpleSongBean.oneMusic.musicAlbumName}">一秒钟</a>
                    </p>
                    <p class="singerName fl" style="" title="">
                    	<span class="fontColor">歌手：</span>
                    	<a target="_blank" href="" title="林东" th:title="${simpleSongBean.oneMusic.musicAuthorName}" th:text="${simpleSongBean.oneMusic.musicAuthorName}">林东</a>
                    </p>
                </div>
				<!-- 播放器 -->
				<audio id="myAudio" src="someaudio.wav" th:src="${simpleSongBean.oneMusic.musicPlayUrl}" >
					您的浏览器不支持 audio 标签。
				</audio>

                <!-- 歌词 -->
                <div class="songWordContent songWordContentM jspScrollable" style="height: 235px; overflow: hidden; padding: 0px; width: 460px;" tabindex="0">
                	<div class="jspContainer" style="width: 460px; height: 235px;">
                		<div class="jspPane" style="padding: 0px; top: 0px; width: 448px;">
							<!-- 循环生成歌词 -->
                			<p class="ie8FontColor" th:attr="times=${arr[0]},rel=${arrStat.index+1}"  th:text="${arr[1]}" th:each="arr,arrStat:${simpleSongBean.oneMusic.musicLyricsList}">dasdasdas</p>
                		</div>
                		<div class="jspVerticalBar">
                			<!-- <div class="jspCap jspCapTop"></div> -->
                			<div class="jspTrack" style="height: 235px;">
                				<div class="jspDrag" style="height: 23px; top: 0px;">
                					<div class="jspDragTop">

                					</div>
                					<div class="jspDragBottom">

                					</div>
                				</div>
                			</div>
                			<div class="jspCap jspCapBottom"></div>
                		</div>
                	</div>
                </div>
            </div>
    	</div>
    	<div id="bot">
		<div class="bmid">
			<div class="bot_left">
				<a href="javascript:void(0);" class="prev" id="btn_pre"></a>
				<a href="javascript:audioStopStart();" class="play" id="btn_play"></a>
				<a href="javascript:audioStopStart();" class="stop" id="btn_stop"></a>
				<a href="javascript:void(0);" class="next" id="btn_next"></a>
			</div>
			<a href="" class="playImg">
				<img src="../public/img/playsing/20150716004147248755.jpg" th:src="${simpleSongBean.oneMusic.musicImg}" alt="">
			</a>
			<div class="bot_mid">
				<div class="mid_up">
					<span class="songName" th:text="${simpleSongBean.oneMusic.musicSongName}">边走边唱</span>
					<span style="float: right">
						<i class="change-time">00:00</i>
						<a style="color: #fff;">/</a>
						<i class="all-time" id="thisMusicAllTimes" th:attr="realTime=${simpleSongBean.oneMusic.musicTimelength}" th:text="${simpleSongBean.oneMusic.musicTimes}">03:51</i>
					</span>
				</div>
				<div class="mid_down">
					<div class="progress_bg">
						<span class="bg_left"></span>
						<span class="bg_middle"></span>
						<span class="bg_right"></span>
					</div>
					<div class="progress_bar">
						<span class="bar_left"></span>
						<span class="bar_mid" style="width: 0.32%;"></span>
					</div>
					<div class="drag_playhead" onmousedown="updateJinDuTiao1(this)" onmouseup="updateJinDuTiao2(this)">
						<div class="drag_playhead2"></div>
							<span class="playhead"></span>
					</div>
				</div>
			</div>
			<div class="bot_right">
				<!--音量控制-->
				<div class="volume"></div>
				<!--音量控制 隐藏面板-->
				<div class="volume_panel">
					<div class="panel_control">
						<span class="panel_bottom"></span>
						<div class="vol_bar">
							<span class="panel_progress"></span>
						</div>
						<div class="vol_head">
							<span class="panel_head" style="top: 42.5375px;" ></span>
						</div>
					</div>
				</div>
				<div class="play_tips" style="display: block; opacity: 0;">已添加到播放列表</div>
				<!--播放模式-->
				<a class="play_mode"></a>
				<!--播放模式 隐藏面板-->
				<div class="mode_panel" style="display: none;">
					<ul>
						<li>
							<span class="mode_img1"></span>
							<span class="mode_word">列表循环</span>
						</li>
						<li>
							<span class="mode_img2"></span>
							<span class="mode_wordx">单曲循环</span>
						</li>
						<li>
							<span class="mode_img3"></span>
							<span class="mode_wordx">随机播放</span>
						</li>
					</ul>
				</div>
				<!--下载-->
				<a href="" class="pb_download"></a>
				<!--分享-->
				<a href="" class="pb_share"></a>
				<!--播放列表-->
				<a href="" class="list">
					<span class="list_count">1</span>
				</a>
			</div>
			<!--播放列表 隐藏面板-->
			<div class="mod-playlist">
				<div class="song-box">
					<div class="box-header"></div>
					<div class="musicbox"></div>
				</div>
			</div>
		</div>
		<div class="bot_bot">
			<span class="bot1"></span>
			<span class="bot2"></span>
		</div>
	</div>
    </div>


	<script src="../public/js/jquery-3.2.1.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>

	<script>

		$(function () {
			$(".tab>li").click(function () {
				$(this).addClass("active").siblings("li").removeClass("active");
				var index=$(this).index();
				$(".fr>div:eq("+index+")").addClass("selected").siblings("div").removeClass("selected");
			});
		});

		var myAudio = $("#myAudio")[0];

		var num = $(".jspPane p").length;
		var nDivHight = $(".jspContainer").height();
		var rightScrollLenOne = nDivHight / num + 40;
		// var rightScrollLenOne = 200 / num;
		var rightScrollLenTop = 0;
		var rightScrollFlag = 0;
		var i = 1;
		//时间更新事件
		myAudio.ontimeupdate = function () {
			//更新歌曲当前时间
			var nowTimeBox = $(".change-time");
			var nowTime = myAudio.currentTime;
			var min = parseInt(nowTime / 60);
			var sec = parseInt(nowTime % 60);
			if(min < 10){
				min = "0"+min;
			}
			if(sec < 10){
				sec = "0" + sec;
			}
			nowTimeBox.html(min+":"+sec);

			//进度条前进
			//获得歌曲的毫秒值
			var playhead = $(".playhead");
			var drag_playhead2 = $(".drag_playhead2");
			var timeMSs = parseInt($("#thisMusicAllTimes").attr("realTime"));
			var timeMSsNow = myAudio.currentTime * 1000*100;
			var baifenbi = (timeMSsNow/timeMSs)+"";
			var index = baifenbi.indexOf('.');
			baifenbi = baifenbi.substring(0,index+3);
			baifenbi = baifenbi+"%";
			playhead.css("margin-left",baifenbi);
			drag_playhead2.css("width",baifenbi);

			//循环所有的歌词  把当前时间的歌词高亮

			$(".jspPane p").each(function () {
				//02:33.71
				var str = $(this).attr("times");
				var arr1 = str.split(":");
				var times1 = parseInt(arr1[0]) * 60;
				var arr2 = arr1[1].split(".");
				var times2 = parseInt(arr2[0]);
				var times = times1 + times2;
				var nowTime = parseFloat(times + "." + arr2[1]);
				if(myAudio.currentTime > nowTime){
					i = $(this).attr("rel");
				}
			});
			$(".jspPane p").each(function () {
				if($(this).attr("rel") == i){
					$(this).addClass("playOver");
					if(i != rightScrollFlag && i>2){
						rightScrollLenTop = (rightScrollLenOne * i) - 110;
						document.getElementsByClassName('jspContainer')[0].scrollTop = rightScrollLenTop;
						// console.log(rightScrollLenTop)
						rightScrollFlag = i;
					}
					// window.scrollBy(0,20);
				}else {
					$(this).removeClass("playOver");
				}
			});
			i = 1;
			//


			// ////////高亮歌词显示到中间//////////////
			// //有多少行歌词
			//
			// console.log(nDivHight+"...."+lenBaifen)
		};




		/////////////////////////////下面是进度条操作事件/////////////////////////////
		//鼠标在进度条上按下
		function updateJinDuTiao1(obj){
			//添加移动事件
		}
		//鼠标在进度条上释放
		function updateJinDuTiao2(obj){
			//删除移动事件
		}

		//进度条移动 点击事件
		function updateJinDuTiao(){
			var objTop = getOffsetTop(document.getElementsByClassName("drag_playhead")[0]);//对象x位置
			var objLeft = getOffsetLeft(document.getElementsByClassName("drag_playhead")[0]);//对象y位置

			var mouseX = event.clientX+document.body.scrollLeft;//鼠标x位置
			var mouseY = event.clientY+document.body.scrollTop;//鼠标y位置
			//计算点击的相对位置
			var objX = mouseX-objLeft;
			var objY = mouseY-objTop;
			clickObjPosition = objX + "," + objY;

			console.log(clickObjPosition)
		}
		function getOffsetTop(obj){
			var tmp = obj.offsetTop;
			var val = obj.offsetParent;
			while(val != null){
				tmp += val.offsetTop;
				val = val.offsetParent;
			}
			return tmp;
		}
		function getOffsetLeft(obj) {
			var tmp = obj.offsetLeft;
			var val = obj.offsetParent;
			while (val != null) {
				tmp += val.offsetLeft;
				val = val.offsetParent;
			}
			return tmp;
		}

	</script>

	<script type="text/javascript" th:src="@{/js/playsong.js}"></script>

</body>
</html>
