<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../public/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>

    <input type="text" class="comment-text"></input><br><br><br>

    作者名：<p class="author_name1"></p>
    作品名：<p class="audio_name1"></p>
    歌曲封面：<p class="img1"></p>
    歌曲链接：<p class="play_url1"></p>
    歌曲名：<p class="song_name1"></p>
    歌曲id：<p class="id1"></p>
    <hr>
    作者名：<p class="author_name2"></p>
    作品名：<p class="audio_name2"></p>
    歌曲封面：<p class="img2"></p>
    歌曲链接：<p class="play_url2"></p>
    歌曲名：<p class="song_name2"></p>
    歌曲id：<p class="id2"></p>
    <hr>
    作者名：<p class="author_name3"></p>
    作品名：<p class="audio_name3"></p>
    歌曲封面：<p class="img3"></p>
    歌曲链接：<p class="play_url3"></p>
    歌曲名：<p class="song_name3"></p>
    歌曲id：<p class="id3"></p>
    <hr>
    作者名：<p class="author_name4"></p>
    作品名：<p class="audio_name4"></p>
    歌曲封面：<p class="img4"></p>
    歌曲链接：<p class="play_url4"></p>
    歌曲名：<p class="song_name4"></p>
    歌曲id：<p class="id4"></p>
    <hr>

</head>
<body>



<script>

    $("body").delegate(".comment-text", "propertychange input", function () {
        //判断是否输入了内容
        var data = {
            word: $(this).val()
        }
        //当输入框改变时,发送请求
        $.post("queryMusic", data, function (data) {
            if(data != null){
                data = eval("(" + data + ")");
                console.log(data);
                $(".author_name1").html(data.musicList[0].authorName);
                $(".audio_name1").html(data.musicList[0].audioName);
                $(".img1").html(data.musicList[0].img);
                $(".play_url1").html(data.musicList[0].playUrl);
                $(".song_name1").html(data.musicList[0].songName);
                $(".id1").html(data.musicList[0].id);

                $(".author_name2").html(data.musicList[1].authorName);
                $(".audio_name2").html(data.musicList[1].audioName);
                $(".img2").html(data.musicList[1].img);
                $(".play_url2").html(data.musicList[1].playUrl);
                $(".song_name2").html(data.musicList[1].songName);
                $(".id2").html(data.musicList[1].id);

                $(".author_name3").html(data.musicList[2].authorName);
                $(".audio_name3").html(data.musicList[2].audioName);
                $(".img3").html(data.musicList[2].img);
                $(".play_url3").html(data.musicList[2].playUrl);
                $(".song_name3").html(data.musicList[2].songName);
                $(".id3").html(data.musicList[2].id);

                $(".author_name4").html(data.musicList[3].authorName);
                $(".audio_name4").html(data.musicList[3].audioName);
                $(".img4").html(data.musicList[3].img);
                $(".play_url4").html(data.musicList[3].playUrl);
                $(".song_name4").html(data.musicList[3].songName);
                $(".id4").html(data.musicList[3].id);
            }
        })
    });

</script>
</body>
</html>