<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../public/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>

    <input type="text" class="comment-text"></input><br><br><br>

    mv名：<p class="mv_name1"></p>
    hc_url：<p class="hc_url"></p>
    hd_url：<p class="hd_url"></p>
    bd_url：<p class="bd_url"></p>
    更新时间：<p class="update_time1"></p>
    id：<p class="id1"></p>
    <hr>
    mv名：<p class="mv_name2"></p>
    hc_url：<p class="hc_ur2"></p>
    hd_url：<p class="hd_ur2"></p>
    bd_url：<p class="bd_ur2"></p>
    更新时间：<p class="update_time2"></p>
    id：<p class="id2"></p>
    <hr>
    mv名：<p class="mv_name3"></p>
    hc_url：<p class="hc_ur3"></p>
    hd_url：<p class="hd_ur3"></p>
    bd_url：<p class="bd_ur3"></p>
    更新时间：<p class="update_time3"></p>
    id：<p class="id3"></p>
    <hr>
    mv名：<p class="mv_name4"></p>
    hc_url：<p class="hc_ur4"></p>
    hd_url：<p class="hd_ur4"></p>
    bd_url：<p class="bd_ur4"></p>
    更新时间：<p class="update_time4"></p>
    id：<p class="id4"></p>
    <hr>

</head>
<body>



<script>

    $("body").delegate(".comment-text", "propertychange input", function () {
        //判断是否输入了内容
        var data = {
            word: $(this).val()
        }
        //当输入框改变时,发送请求
        $.post("queryMv", data, function (data) {
            if(data != null){
                data = eval("(" + data + ")");
                console.log(data);
                $(".mv_name1").html(data.mvList[0].mvName);
                $(".hc_url").html(data.mvList[0].hcUrl);
                $(".hd_url").html(data.mvList[0].hdUrl);
                $(".bd_url").html(data.mvList[0].bdUrl);
                $(".update_time1").html(data.mvList[0].updateTime);
                $(".id1").html(data.mvList[0].id);

                $(".mv_name2").html(data.mvList[1].mvName);
                $(".hc_ur2").html(data.mvList[1].hcUrl);
                $(".hd_ur2").html(data.mvList[1].hdUrl);
                $(".bd_ur2").html(data.mvList[1].bdUrl);
                $(".update_time2").html(data.mvList[1].updateTime);
                $(".id2").html(data.mvList[1].id);

                $(".mv_name3").html(data.mvList[2].mvName);
                $(".hc_ur3").html(data.mvList[2].hcUrl);
                $(".hd_ur3").html(data.mvList[2].hdUrl);
                $(".bd_ur3").html(data.mvList[2].bdUrl);
                $(".update_time3").html(data.mvList[2].updateTime);
                $(".id3").html(data.mvList[2].id);

                $(".mv_name4").html(data.mvList[3].mvName);
                $(".hc_ur4").html(data.mvList[3].hcUrl);
                $(".hd_ur4").html(data.mvList[3].hdUrl);
                $(".bd_ur4").html(data.mvList[3].bdUrl);
                $(".update_time4").html(data.mvList[3].updateTime);
                $(".id4").html(data.mvList[3].id);
            }
        })
    });

</script>
</body>
</html>