<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>注册</title>
	<link rel="shortcut icon"  href="../static/favicon.ico" th:href="@{/favicon.ico}"/>
	<link href="" rel="stylesheet" th:href="@{/css/regist.css}" />
</head>

<body>
<!-- 引入头部 -->
<div th:replace="commons/head::headbar(activeUri='index')"></div>

<div id="content">
	<div class="regBox">
		<div class="reg_hd">
			<div class="mobile_reg"></div>
		</div>
		<div class="biaodan">
			<form class="biaodan_form">
				<table>
					<tr>
						<td style="width:300px;height:38px;text-align:right;padding-bottom: 15px;padding-right:8px;">
							*&nbsp;手机号码:
						</td>
						<td style="width: 558px;height: 38px;padding-bottom: 15px;">
							<div style="width: 558px;height: 38px;">
								<div class="textBox" style="width: 291px;height: 38px;">
									<div><input maxlength="30" type="text" class="ipt" id="mou1"/></div>
								</div>
								<span id="phonenumber">请输入手机号码</span>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 300px;height: 38px;padding-bottom: 15px;text-align: right;padding-right: 8px;">
							*&nbsp;短信验证:
						</td>
						<td style="width: 558px;height: 38px;padding-bottom: 15px;">
							<div style="width: 558px;height: 38px;">
								<div style="width: 136px;height: 38px;float: left;">
									<input maxlength="6" type="text" class="ipt1" id="mou2">
								</div>
								<a href="" class="message"><span>获取短信</span></a>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width:300px;height:60px;text-align:right;padding-bottom: 15px;padding-right:8px;">
							*&nbsp;密码:
						</td>
						<td style="width: 558px;height:60px;padding-bottom: 15px;">
							<div style="width: 558px;height: 38px;">
								<div class="textBox" style="width: 291px;height: 38px;">
									<div>
										<input style="font-size: 24px" maxlength="30" type="password" class="ipt" id="mou3">
									</div>
									<span id="mima">密码需由6—16个字母，数字和符号组成</span>
									<div class="password_sec">
										<div class="password_size">密码强度:弱</div>
										<div class="password_3">
											<span class="bg" id="bg"></span>
											<span class="line1" id="line1"></span>
											<span class="line2" id="line2"></span>
										</div>
										<div class="qiang">强</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width:300px;height:38px;text-align:right;padding-bottom: 15px;padding-right:8px;">
							*&nbsp;确认密码:
						</td>
						<td style="width: 558px;height: 38px;padding-bottom: 15px;">
							<div style="width: 558px;height: 38px;">
								<div class="textBox" style="width: 291px;height: 38px;">
								<div>
									<input maxlength="30" type="text" class="ipt" id="mou4">
								</div>
								<span id="mimax">请再次确认密码</span>
							</div>
							</div>

						</td>
					</tr>
					<tr>
						<td style="width:300px;height:38px;text-align:right;padding-bottom: 15px;padding-right:8px;">
							*&nbsp;性别:
						</td>
						<td style="width: 558px;height: 38px;padding-bottom: 15px;">
							<div style="width: 558px;height: 38px;">
								<div class="textBox" style="width: 291px;height: 38px;">
								<div class="sex">
									<input type="radio" name="sex">男
									<input type="radio" name="sex">女
									<!--name相同，则只能选择一个-->
								</div>
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width:300px;height:38px;text-align:right;padding-bottom: 15px;padding-right:8px;"></td>
						<td style="width: 558px;height: 38px;padding-bottom: 15px;">
							<div style="width: 558px;height: 38px;">
								<!--<input type="checkbox">-->
								<!--默认不选中-->
								<input id="mou5" name="checkbox" type="checkbox" value="checkbox" checked="checked" /> <!--默认选中-->
								我已经认真阅读并同意&nbsp;&nbsp;
								<a href="" class="a_link">用户协议</a>、
								<a href="" class="a_link">隐私政策</a>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width:300px;height:38px;text-align:right;padding-bottom: 15px;padding-right:8px;"></td>
						<td style="width: 558px;height: 38px;padding-bottom: 15px;">
							<p class="zc">注册</p>    <!--onclick="window.open('')"-->
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<!-- 引入底部 -->
<div th:replace="commons/foot::footbar"></div>

<script>
	/*手机号*/
	var mou1=document.getElementById("mou1");
	var phonenumber=document.getElementById("phonenumber");
	mou1.onclick=function(){
		phonenumber.style.display="block";
	}
	mou1.onblur=function(){
		phonenumber.style.display="none";
	}

	/*密码*/
	var mou3=document.getElementById("mou3");
	var mima=document.getElementById("mima");
	mou3.onclick=function(){
		mima.style.display="block";
	}
	mou3.onblur=function(){
		mima.style.display="none";
	}
	var bg=document.getElementById("bg");
	var line1=document.getElementById("line1");
	var line2=document.getElementById("line2");
	mou3.onchange=function(){
		bg.style.background="#a9d6f3";
	}


	/*确认密码*/
	var mou4=document.getElementById("mou4");
	var mimax=document.getElementById("mimax");
	mou4.onclick=function(){
		mimax.style.display="block";
	}
	mou4.onblur=function(){
		mimax.style.display="none";
	}

	/*注册*/
	var zc=document.getElementsByClassName("zc")[0];
	var mou5=document.getElementById("mou5");
	mou5.onclick=function(){
		if(this.checked == true){
			zc.style.background="#3db9ec";
		}else{
			zc.style.background="#bbb";
		}


	}

</script>


</body>
</html>
