<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/search.css}"/>
	<script th:src="@{/js/jquery-3.2.1.js}"></script>
	<script th:src="@{/js/search.js}"></script>
</head>
<body>

<!-- 引入头部 -->
<div th:replace="commons/head::headbar(activeUri='index')"></div>

	<div class="search_header">
    	<div class="search_wrapper">
	        <div class="search_input">
				<form id="searchForm2" method="post"></form>
	        	<input type="text" th:value="${searchKey}" class="searchAllBox" id="searchAllBox2" />
	            <div class="searh_btn" id="searchAllBox1SubmitButton2">
	            	<i class="search_icon"></i>
	            </div>
	        </div>
	     <!-- 搜索字推荐 -->
        <div class="search_recommend hide" style="display: none;">
        	<dl class="recommend_list">
        		<dd data-type="song" title="">
        			<em>雷龙&nbsp;你是我心中最美的花</em>
        		</dd>
        		<dd data-type="song" title="">
        			<em>雷龙&nbsp;你是我心中最美的花</em> (伴奏)
        		</dd>
        	</dl>
        </div>
        <!-- 历史纪录 -->
        <div class="history" style="display: none;">
        	<dl class="history_list">
        		<dd>雷龙&nbsp;你是我心中最美的花</dd>
        	</dl>
        	<dl class="clear_history">
        		<dt>清空历史记录</dt>
        	</dl>
        </div>
    </div>
    <!-- 搜素内容 -->
    <div class="search_content">
    	<ul class="search_tab">
    		<li class="tab-item active">单曲</li>
	        <li class="tab-item">歌单</li>
	        <li class="tab-item">mv</li>
    	</ul>
    	<div class="tab_content">
    		<div class="main selected">
	    		<div class="song_list_header clearfix">
		            <div class="result_title">
		                <p class="search_key_word">搜索到<i th:text="${searchKey}">“雷龙&nbsp;你是我心中最美的花”</i></p>
		                <p class="search_tips">相关的歌曲</p>
		                <a class="play_all" href="javascript:;"><span><i class="search_icon"></i>播放</span></a>
		            </div>
	        	</div>
	        	<div class="song_list">
		            <ul class="list_header clearfix">
		                <li class="left">
		                    <span class="search_icon checkall"></span>歌曲名
		                </li>
		                <li class="middle">
		                    专辑
		                </li>
		                <li class="right">
		                    时长
		                </li>
		            </ul>
					<!-- 单曲显示开始 -->
		            <ul class="list_content clearfix">
						<a th:href="@{simpleSong.html/}+${bean.musicId}" th:each="bean,beanStat:${solrMusicList.solrBeanList}">
							<li class="clearfix">
								<div class="left clearfix">
									<span class="search_icon checkbox"></span>
									<a class="song_name" th:title="${bean.musicAudioName}" th:href="@{/simpleSong.html/}+${bean.musicId}" th:utext="${bean.highlight}">
									</a>
								</div>
								<div class="middle">
									<a class="album_name" th:title="${bean.musicAlbumName}" th:text="${bean.musicAlbumName}" target="_blank" href="https://www.kugou.com/yy/album/single/19485892.html">《你是我心中最美的花》</a>&nbsp;
								</div>
								<div class="right" th:text="${bean.musicTimes}">04:11</div>
								<div class="play-item">
									<span class="common_icon icon_play"></span>
									<span class="common_icon icon_download" onclick="_hmt.push(['_trackEvent', 'hidedown', 'hidecilick', 'hidepc']);">
									</span>
									<span class="common_icon icon_share"></span>
								</div>
							</li>
						</a>
		            </ul>
					<!-- 单曲显示结束 -->
	        	</div>
	        	
    		</div>
	    	<div class="main songsheet">
	    		<div class="song_list_header clearfix">
		            <div class="result_title">
		                <p class="search_key_word">搜索到<i th:text="${searchKey}">“雷龙&nbsp;你是我心中最美的花”</i></p>
		                <p class="search_tips">相关的歌单</p>
		        	</div>
	        	</div>
	        	<div class="song_list">
		            <ul class="list_header clearfix">
		                <li class="left" style="padding-left: 20px;">
		                    歌单名
		                </li>
		                <li class="middle">
		                    创建
		                </li>
		                <li class="right" style="padding: 0 20px 0 0;">
		                    收藏
		                </li>
		            </ul>
		            <ul class="list_content clearfix" id="music_list_show_list">
<!--		            	<li>-->
<!--		            		<div class="left clearfix">-->
<!--		            			<a class="songsheet_link" target="_blank" title="" href="">-->
<!--		            				<img class="songsheet_img" th:src="@{/img/search/20190505105024343581.jpg}">-->
<!--		            			</a>-->
<!--		            			<a target="_blank" class="songsheet_name songsheet_link" title="" href="">华语新歌 2019年4月刊【完结】-->
<!--		            			</a>-->
<!--		            		</div>-->
<!--		            		<div class="middle">-->
<!--		            			华语杂货铺-->
<!--		            		</div>-->
<!--		            		<div class="right">201.9万</div>-->
<!--		            		<div class="play-item">-->
<!--		            			<span class="icon_play"></span>-->
<!--		            		</div>-->
<!--		            	</li>-->

		            </ul>
	        	</div>
	        	
    		
	    	</div>
	    	<div class="main">
	    		<div class="song_list_header clearfix">
		            <div class="result_title">
		                <p class="search_key_word">搜索到<i th:text="${searchKey}">“雷龙&nbsp;你是我心中最美的花”</i></p>
		                <p class="search_tips">相关的MV</p>
		        	</div>
	        	</div>
	        	<!-- 如果没有mv就显示这个div -->
	        	<div class="search_mv">没有搜索到相关的MV</div>
	        	<!-- 如果有mv就显示这个div -->
	        	<div class="mv_list clearfix">
	        		<ul id="mvUlList">
<!--	        			<li>-->
<!--	        				<div class="mv_container">-->
<!--	        					<a class="mv_cover" target="_blank" href="" hidefocus="true" title="恋人心">-->
<!--	        						<span class="mv_img">-->
<!--	        							<img width="100%" height="100%" th:src="@{/img/search/20150910152743682334.jpg}" alt="" class="">-->
<!--	        						</span>-->
<!--	        						<span class="mv_play">-->
<!--	        							<i class="search_icon"></i>-->
<!--	        						</span>-->
<!--	        						<span class="mv_shadow"></span>-->
<!--	        					</a>-->
<!--	        					<a class="mv_name" target="_blank" href="" hidefocus="true" title=""><em>恋人心</em></a>-->
<!--	        					<span class="mv_singer" title="">魏新雨</span>-->
<!--	        				</div>-->
<!--	        			</li>-->
	        		</ul>
	        	</div>
	    	</div>

	    	<div class="download">
	        		查看更多内容，请下载客户端 
	        		<span>
	        			<a target="_blank" href="#">立即下载</a>
	        		</span>
	        	</div>
    	</div>
    	
    </div>
</div>

<!-- 引入底部 -->
<div th:replace="commons/foot::footbar"></div>

</body>
</html>