<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="../css/singer.css" th:href="@{/css/singer.css}">
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- 头 -->
<section>
    <ul class="nav nav-pills">
        <li class="nav-item"><a th:class="${singerViewBean.singerCollect.get('ALL')}!=null?'nav-link active':'nav-link'"
                                th:href="@{/singer.html/1/all/1}" href="#NO1">全部歌手</a></li>
        <li class="nav-item"><a
                th:class="${singerViewBean.singerCollect.get('chinaMaleSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/2/all/1}" href="#NO2" class="nav-link">华语男歌手</a></li>
        <li class="nav-item"><a
                th:class="${singerViewBean.singerCollect.get('chinaFemaleSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/3/all/1}" href="#NO3" class="nav-link">华语女歌手</a></li>
        <li class="nav-item"><a
                th:class="${singerViewBean.singerCollect.get('chinaGroupSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/4/all/1}" href="#NO4" class="nav-link">华语组合</a></li>
        <li style="width:100%; height:30px;"></li>
        <li class="nav-item"><a
                th:class="${singerViewBean.singerCollect.get('japanKoreaMaleSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/5/all/1}" href="#NO5" class="nav-link">日韩男歌手</a></li>
        <li class="nav-item"><a
                th:class="${singerViewBean.singerCollect.get('japanKoreaFemaleSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/6/all/1}" href="#NO6" class="nav-link">日韩女歌手</a></li>
        <li class="nav-item"><a
                th:class="${singerViewBean.singerCollect.get('japanKoreaGroupSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/7/all/1}" href="#NO7" class="nav-link">日韩组合</a></li>
        <li style="width:100%; height:30px;"></li>
        <li class="nav-item"><a <a
                th:class="${singerViewBean.singerCollect.get('europeAmericaMaleSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/8/all/1}" href="#NO8" class="nav-link">欧美男歌手</a></li>
        <li class="nav-item"><a <a
                th:class="${singerViewBean.singerCollect.get('europeAmericaFemaleSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/9/all/1}" href="#NO9" class="nav-link">欧美女歌手</a></li>
        <li class="nav-item"><a <a
                th:class="${singerViewBean.singerCollect.get('europeAmericaGroupSinger')}!=null?'nav-link active':'nav-link'"
                th:href="@{/singer.html/10/all/1}" href="#NO10" class="nav-link">欧美组合</a></li>
    </ul>

    <!--要切换的内容-->
    <div class="tab-content">
        <div class="tab-pane active" id="NO1">
            <div id="lib_Tab1">
                <div class="lib_Menubox">
                    <ul th:with="language=${singerViewBean.singerClassName},sindex=${singerViewBean.singerSindex}">
                        <!-- 热门+26个字母 -->
                        <li id="one1" th:class="${sindex}==ALL?'hover'" class="hover"><a th:href="@{'/singer.html/'+${language}+'/ALL/1'}" >热门</a></li>
                        <li id="one2" th:class="${sindex}==A?'hover'"><a th:href="@{'/singer.html/'+${language}+'/A/1'}" >A</a></li>
                        <li id="one3" th:class="${sindex}==B?'hover'"><a th:href="@{'/singer.html/'+${language}+'/B/1'}" >B</a></li>
                        <li id="one4" th:class="${sindex}==C?'hover'"><a th:href="@{'/singer.html/'+${language}+'/C/1'}" >C</a></li>
                        <li id="one5" th:class="${sindex}==D?'hover'"><a th:href="@{'/singer.html/'+${language}+'/D/1'}" >D</a></li>
                        <li id="one6" th:class="${sindex}==E?'hover'"><a th:href="@{'/singer.html/'+${language}+'/E/1'}" >E</a></li>
                        <li id="one7" th:class="${sindex}==F?'hover'"><a th:href="@{'/singer.html/'+${language}+'/F/1'}" >F</a></li>
                        <li id="one8" th:class="${sindex}==G?'hover'"><a th:href="@{'/singer.html/'+${language}+'/G/1'}" >G</a></li>
                        <li id="one9" th:class="${sindex}==H?'hover'"><a th:href="@{'/singer.html/'+${language}+'/H/1'}" >H</a></li>
                        <li id="one10" th:class="${sindex}==I?'hover'"><a th:href="@{'/singer.html/'+${language}+'/I/1'}" >I</a></li>
                        <li id="one11" th:class="${sindex}==J?'hover'"><a th:href="@{'/singer.html/'+${language}+'/J/1'}" >J</a></li>
                        <li id="one12" th:class="${sindex}==K?'hover'"><a th:href="@{'/singer.html/'+${language}+'/K/1'}" >K</a></li>
                        <li id="one13" th:class="${sindex}==L?'hover'"><a th:href="@{'/singer.html/'+${language}+'/L/1'}" >L</a></li>
                        <li id="one14" th:class="${sindex}==M?'hover'"><a th:href="@{'/singer.html/'+${language}+'/M/1'}" >M</a></li>
                        <li id="one15" th:class="${sindex}==N?'hover'"><a th:href="@{'/singer.html/'+${language}+'/N/1'}" >N</a></li>
                        <li id="one16" th:class="${sindex}==O?'hover'"><a th:href="@{'/singer.html/'+${language}+'/O/1'}" >O</a></li>
                        <li id="one17" th:class="${sindex}==P?'hover'"><a th:href="@{'/singer.html/'+${language}+'/P/1'}" >P</a></li>
                        <li id="one18" th:class="${sindex}==Q?'hover'"><a th:href="@{'/singer.html/'+${language}+'/Q/1'}" >Q</a></li>
                        <li id="one19" th:class="${sindex}==R?'hover'"><a th:href="@{'/singer.html/'+${language}+'/R/1'}" >R</a></li>
                        <li id="one20" th:class="${sindex}==S?'hover'"><a th:href="@{'/singer.html/'+${language}+'/S/1'}" >S</a></li>
                        <li id="one21" th:class="${sindex}==T?'hover'"><a th:href="@{'/singer.html/'+${language}+'/T/1'}" >T</a></li>
                        <li id="one22" th:class="${sindex}==U?'hover'"><a th:href="@{'/singer.html/'+${language}+'/U/1'}" >U</a></li>
                        <li id="one23" th:class="${sindex}==V?'hover'"><a th:href="@{'/singer.html/'+${language}+'/V/1'}" >V</a></li>
                        <li id="one24" th:class="${sindex}==W?'hover'"><a th:href="@{'/singer.html/'+${language}+'/W/1'}" >W</a></li>
                        <li id="one25" th:class="${sindex}==X?'hover'"><a th:href="@{'/singer.html/'+${language}+'/X/1'}" >X</a></li>
                        <li id="one26" th:class="${sindex}==Y?'hover'"><a th:href="@{'/singer.html/'+${language}+'/Y/1'}" >Y</a></li>
                        <li id="one27" th:class="${sindex}==Z?'hover'"><a th:href="@{'/singer.html/'+${language}+'/Z/1'}" >Z</a></li>
                    </ul>
                </div>
                <div class="lib_Contentbox">
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('ALL') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('ALL').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${(singerViewBean.page-1)*36} + ${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('chinaMaleSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('chinaMaleSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('chinaFemaleSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('chinaFemaleSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('chinaGroupSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('chinaGroupSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('japanKoreaMaleSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('japanKoreaMaleSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('japanKoreaFemaleSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('japanKoreaFemaleSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('japanKoreaGroupSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('japanKoreaGroupSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('europeAmericaMaleSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('europeAmericaMaleSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('europeAmericaFemaleSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('europeAmericaFemaleSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div id="con_one_1" th:if="${singerViewBean.singerCollect.get('europeAmericaGroupSinger') ne null}">
                        <ul class="singer_pic">
                            <li th:each="bean,beanStat:${singerViewBean.singerCollect.get('europeAmericaGroupSinger').solrBeanList}">
                                <a th:title="${bean.singerSingername}" title="摩登兄弟" class="pic" href="">
                                    <img th:alt="${bean.singerSingername}" alt="摩登兄弟" th:src="${bean.singerImgurl}" src="../img/singer/a.jpg"/>
                                    <i>[[${beanStat.count}]]<em th:text="${beanStat.index==0}?'st':(${beanStat.index==1}?'nd':(${beanStat.index==2}?'rd':'th'))">st</em></i>
                                </a>
                                <strong><a href="" th:text="${bean.singerSingername}"  th:title="${bean.singerSingername}" title="摩登兄弟" style="color: black;">摩登兄弟</a></strong>
                            </li>
                        </ul>
                    </div>
                    <!-- 分页 -->
                    <div id="pagination" th:with="language=${singerViewBean.singerClassName},sindex=${singerViewBean.singerSindex},page=${singerViewBean.page},totalPage=${singerViewBean.totalPage}">
                        <a id="firPage" class="btnPage" th:href="@{'/singer.html/'+${language}+'/'+${sindex}+'/1'}">首页</a>
                        <a id="prePage" class="btnPage" th:href="@{'/singer.html/'+${language}+'/'+${sindex}+'/'+${page-1}}" th:if="${page}>1">上一页</a>
                        <i id="page_1" class="current"
                           th:class="${page}==${pageIndex}?'current'"
                           th:each="pageIndex:${#numbers.sequence(1,totalPage)}"
                           th:if="${pageIndex<6}"><a th:href="@{'/singer.html/'+${language}+'/'+${sindex}+'/'+${pageIndex}}">[[${pageIndex}]]</a></i>
                        <a id="nexPage" class="btnPage" th:href="@{'/singer.html/'+${language}+'/'+${sindex}+'/'+${page+1}}" th:if="${page}<${totalPage}">下一页</a>
                        <a id="lasPage" class="btnPage" th:href="@{'/singer.html/'+${language}+'/'+${sindex}+'/' + ${totalPage}}">尾页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 尾巴 -->

<script src="../js/jquery.js" type="text/javascript" th:src="@{/js/jquery-3.2.1.js}" charset="utf-8"></script>
<script src="../js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}" charset="utf-8"></script>
<script src="../js/singer.js" type="text/javascript" th:src="@{/js/singer.js}" charset="utf-8"></script>

</body>
</html>
