<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../js/jquery.js" type="text/javascript" th:src="@{/js/jquery-3.2.1.js}" charset="utf-8"></script>

<!-- 引入头部 -->
<div th:replace="commons/head::headbar(activeUri='index')"></div>
<button onclick="addSongSheet()">添加歌单</button>
<button onclick="updateSongSheet()">修改歌单</button>
<button onclick="delSongSheet()">删除歌单</button>
<button onclick="delSong()">删除歌曲</button>
<button onclick="addSong()">添加歌曲</button>

<button class="shareQQ">分享</button>
<a href="
https://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Ft4.kugou.com%2Fsong.html%3Fid%3D5S6Eb65uJV2&desc=&title=%E5%A4%8F%E5%A9%89%E5%AE%89%20-%E6%9A%97%E5%A4%9C%E7%B2%BE%E7%81%B5&summary=%E6%88%91%E5%9C%A8%E9%85%B7%E7%8B%97%E5%B8%B8%E5%90%AC%E7%9A%84%E3%80%8A%E5%A4%8F%E5%A9%89%E5%AE%89%20-%E6%9A%97%E5%A4%9C%E7%B2%BE%E7%81%B5%E3%80%8B%EF%BC%8C%E4%BD%A0%E4%B9%9F%E6%9D%A5%E5%90%AC%E5%90%AC%E5%90%A7%EF%BC%81%EF%BC%88%E6%9D%A5%E8%87%AA%20web%20%E9%85%B7%E7%8B%97%E9%9F%B3%E4%B9%90%EF%BC%89&pics=https://www.kugou.com/yy/static/images/share-cover.png&flash=&site=www.kugou.com">分享</a>
<script>
    function addSongSheet(){
        var data = {
            "musicListName" : "仙剑"
        };

        $.post("song.addSongSheet.ajax",data,function (data) {
            console.log(data);
        });
    }


    function updateSongSheet() {

        var data = {
            "musicListId": 6,
            "musicListName":"日语啊",
            "musicListMood": "smile"
        };

        $.post("song.updateSongSheet.ajax",data,function (data) {
            console.log(data);
        })
    }

    function delSongSheet() {
        var data = {
            "musicListId" : 5
        };

        $.post("song.delSongSheet.ajax",data,function (data) {
            console.log(data);
        });
    }

    function addSong() {
        var data = {
            "musicListId":4,
            "musicId":78148
        };

        $.post("song.addMusicToSongSheet.ajax",data,function (data) {
            console.log(data);
        });
    }

    function delSong() {
        var data = {
            "musicListId":4,
            "musicId":78148
        };

        $.post("song.delMusicFromSongSheet.ajax",data,function (data) {
            console.log(data);
        });
    }
    $(".shareQQ").click(function () {
        qqShare("http://www.sansheng2019.cn/index","七里香","音梦网","周杰伦-七里香",null);
    });

</script>
</body>
</html>

